<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.pcm.resultdecorator.presentation.ResultdecoratorModelWizardID"
      name = "%_UI_ResultdecoratorModelWizard_label"
      class = "de.uka.ipd.sdq.pcm.resultdecorator.presentation.ResultdecoratorModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ResultdecoratorModelFile.gif">
      <description>%_UI_ResultdecoratorModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.pcm.resultdecorator.presentation.ResultdecoratorEditorID"
        name = "%_UI_ResultdecoratorEditor_label"
        icon = "icons/full/obj16/ResultdecoratorModelFile.gif"
        extensions = "resultdecorator"
        class = "de.uka.ipd.sdq.pcm.resultdecorator.presentation.ResultdecoratorEditor" 
        contributorClass="de.uka.ipd.sdq.pcm.resultdecorator.presentation.ResultdecoratorActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.pcm.resultdecorator.repository.presentation.repositorydecoratorModelWizardID"
      name = "%_UI_repositorydecoratorModelWizard_label"
      class = "de.uka.ipd.sdq.pcm.resultdecorator.repository.presentation.repositorydecoratorModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/repositorydecoratorModelFile.gif">
      <description>%_UI_repositorydecoratorModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.pcm.resultdecorator.repository.presentation.repositorydecoratorEditorID"
        name = "%_UI_repositorydecoratorEditor_label"
        icon = "icons/full/obj16/repositorydecoratorModelFile.gif"
        extensions = "repositorydecorator"
        class = "de.uka.ipd.sdq.pcm.resultdecorator.repository.presentation.repositorydecoratorEditor" 
        contributorClass="de.uka.ipd.sdq.pcm.resultdecorator.repository.presentation.repositorydecoratorActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.pcm.resultdecorator.resourceenvironment.presentation.resourceenvironmentdecoratorModelWizardID"
      name = "%_UI_resourceenvironmentdecoratorModelWizard_label"
      class = "de.uka.ipd.sdq.pcm.resultdecorator.resourceenvironment.presentation.resourceenvironmentdecoratorModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/resourceenvironmentdecoratorModelFile.gif">
      <description>%_UI_resourceenvironmentdecoratorModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.pcm.resultdecorator.resourceenvironment.presentation.resourceenvironmentdecoratorEditorID"
        name = "%_UI_resourceenvironmentdecoratorEditor_label"
        icon = "icons/full/obj16/resourceenvironmentdecoratorModelFile.gif"
        extensions = "resourceenvironmentdecorator"
        class = "de.uka.ipd.sdq.pcm.resultdecorator.resourceenvironment.presentation.resourceenvironmentdecoratorEditor" 
        contributorClass="de.uka.ipd.sdq.pcm.resultdecorator.resourceenvironment.presentation.resourceenvironmentdecoratorActionBarContributor" >
    </editor>
  </extension>    
</plugin>
