<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.validation.effort.estimation.presentation.EstimationModelWizardID"
            name="%_UI_EstimationModelWizard_label"
            class="de.fzi.se.validation.effort.estimation.presentation.EstimationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EstimationModelFile.gif">
         <description>%_UI_EstimationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.validation.effort.estimation.presentation.EstimationEditorID"
            name="%_UI_EstimationEditor_label"
            icon="icons/full/obj16/EstimationModelFile.gif"
            extensions="estimation"
            class="de.fzi.se.validation.effort.estimation.presentation.EstimationEditor"
            contributorClass="de.fzi.se.validation.effort.estimation.presentation.EstimationActionBarContributor">
      </editor>
   </extension>

</plugin>
