<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="de.ikv.medini.qvt.model.qvtrelation.QvtRelationPackage"
            genModel="/QVTCommon/model/SemanticsQvt.genmodel"
            uri="urn:semanticsQvt.model.qvtrelation.ecore">
      </package>
   </extension>

</plugin>
