<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- This script is run by Jenkins/Buckminster for the headless build --> 
<!-- see http://www.lorenzobettini.it/2013/09/using-the-xtend-compiler-in-buckminster-builds/ -->
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/de.uka.ipd.sdq.pcm.codegen.simucom"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.xtend.core.compiler.batch.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-classpath &quot;${project_classpath:de.uka.ipd.sdq.pcm.codegen.simucom}&quot; -d xtend-gen src-transforms"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="de.uka.ipd.sdq.pcm.codegen.simucom"/>
</launchConfiguration>
