<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.qimpress.commonmodel.commonmodel.ResourceEnvironment.presentation.ResourceEnvironmentModelWizardID"
            name="%_UI_ResourceEnvironmentModelWizard_label"
            class="eu.qimpress.commonmodel.commonmodel.ResourceEnvironment.presentation.ResourceEnvironmentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ResourceEnvironmentModelFile.gif">
         <description>%_UI_ResourceEnvironmentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="eu.qimpress.commonmodel.commonmodel.ResourceEnvironment.presentation.ResourceEnvironmentEditorID"
            name="%_UI_ResourceEnvironmentEditor_label"
            icon="icons/full/obj16/ResourceEnvironmentModelFile.gif"
            extensions="resourceenvironment"
            class="eu.qimpress.commonmodel.commonmodel.ResourceEnvironment.presentation.ResourceEnvironmentEditor"
            contributorClass="eu.qimpress.commonmodel.commonmodel.ResourceEnvironment.presentation.ResourceEnvironmentActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.qimpress.commonmodel.commonmodel.Allocation.presentation.AllocationModelWizardID"
            name="%_UI_AllocationModelWizard_label"
            class="eu.qimpress.commonmodel.commonmodel.Allocation.presentation.AllocationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AllocationModelFile.gif">
         <description>%_UI_AllocationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="eu.qimpress.commonmodel.commonmodel.Allocation.presentation.AllocationEditorID"
            name="%_UI_AllocationEditor_label"
            icon="icons/full/obj16/AllocationModelFile.gif"
            extensions="allocation"
            class="eu.qimpress.commonmodel.commonmodel.Allocation.presentation.AllocationEditor"
            contributorClass="eu.qimpress.commonmodel.commonmodel.Allocation.presentation.AllocationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.qimpress.commonmodel.commonmodel.StaticStructure.presentation.StaticStructureModelWizardID"
            name="%_UI_StaticStructureModelWizard_label"
            class="eu.qimpress.commonmodel.commonmodel.StaticStructure.presentation.StaticStructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StaticStructureModelFile.gif">
         <description>%_UI_StaticStructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="eu.qimpress.commonmodel.commonmodel.StaticStructure.presentation.StaticStructureEditorID"
            name="%_UI_StaticStructureEditor_label"
            icon="icons/full/obj16/StaticStructureModelFile.gif"
            extensions="staticstructure"
            class="eu.qimpress.commonmodel.commonmodel.StaticStructure.presentation.StaticStructureEditor"
            contributorClass="eu.qimpress.commonmodel.commonmodel.StaticStructure.presentation.StaticStructureActionBarContributor">
      </editor>
   </extension>

</plugin>
