<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.fzi.stanja.ui.preferences.StanjaPreferencePage"
            class="de.fzi.stanja.sissyconnector.preferences.SissyPreferencePage"
            id="de.fzi.stanja.sissyconnector.preferences.SissyPreferencePage"
            name="Sissy Connector">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.fzi.stanja.sissyconnector.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="de.fzi.stanja.analyzers">
      <analyzer
            class="de.fzi.stanja.sissyconnector.model.SissyAnalyzer"
            id="de.fzi.stanja.analyzer.sissy"
            name="Sissy Analyzer">
         <policy
               id="vb.java.1"
               name="Serialisation">
            <query
                  id="vb.java.1.1"
                  name="de.fzi.stanja.sissyconnector.query1">
            </query>
         </policy>
      </analyzer>
   </extension>

</plugin>
