<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/ResourceEnvironment/4.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.resource.helper.AddCommunicationLinkResourceSpecificationEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.resource.LinkingResourceAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.resource.LinkingResource_2003">
         </adviceBinding>
      </metamodel>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding context="de.uka.ipd.sdq.pcm.gmf.resource.TypeContext">
         <elementType
               ref="de.uka.ipd.sdq.pcm.gmf.resource.LinkingResource_2003">
         </elementType>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.resource.LinkingResourceAdvice">
         </advice>
       </binding>
   </extension>
</plugin>
