#Fri Oct 09 10:15:07 CEST 2009
# diff-add
pluginbuilder.eclipse.url=http://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/technology/epp/downloads/release/galileo/SR1/eclipse-modeling-galileo-SR1-incubation-linux-gtk.tar.gz
pluginbuilder.feature.urls=http://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/equinox/drops/R-3.5.1-200909170800/equinox-SDK-3.5.1.zip
# /diff-add
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
# diff-remove
#pluginbuilder.eclipse.url=http\://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/technology/epp/downloads/release/galileo/SR1/eclipse-modeling-galileo-SR1-incubation-linux-gtk.tar.gz
#pluginbuilder.feature.urls=http\://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/equinox/drops/R-3.5.1-200909170800/equinox-SDK-3.5.1.zip
# /diff-remove
pluginbuilder.features=de.uka.ipd.sdq.workflow.feature
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.password=obREaglAkEmhaDwl
pluginbuilder.svn.user=cruisecontrol
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
# diff-add
pluginbuilder.is.server=true
eclipse.download.cache=/home/ccontrol/downloadCache-pcm-eclipse3.5
# /diff-add
