#Wed Sep 17 19:13:05 CEST 2008
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=test_feature
autotestsuite.class.inclusions=.*
pluginbuilder.is.svn=true
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=svn\://i43pc13.ipd.uka.de/code
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.password=obREaglAkEmhaDwl
pluginbuilder.svn.user=cruisecontrol
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
