<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2006, SDQ Group, University Karlsruhe (TH)

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/Context/Usage/1.0" 
       class = "de.uka.ipd.sdq.context.computed_usage.ComputedUsagePackage"
       genModel = "model/context.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/Context/Allocation/1.0" 
       class = "de.uka.ipd.sdq.context.computed_allocation.ComputedAllocationPackage"
       genModel = "model/context.genmodel" /> 
  </extension>
  
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/Context/AggregatedUsage/1.0" 
       class = "de.uka.ipd.sdq.context.aggregatedUsageContext.AggregatedUsageContextPackage"
       genModel = "model/context.genmodel" /> 
  </extension>

</plugin>
