<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright 2006 Institute for Software-Design and Quality, University of Karlsruhe (TH)
-->
<plugin>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmDiagramPreferenceInitializer"/>
   </extension>

  <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
         type="text"
         extension="repository_diagram">
      </fileTypes>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="repository_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
     <editor
        id="de.uka.ipd.sdq.pcm.gmf.repository.part.RepositoryDiagramEditorID"
        name="repository_model Diagram Editor"
        icon="icons/obj16/RepositoryDiagramFile.gif"
        extensions="repository_diagram"
        default="true"
        class="de.uka.ipd.sdq.pcm.gmf.repository.part.RepositoryDiagramEditor"
        matchingStrategy="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmMatchingStrategy"
        contributorClass="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmDiagramActionBarContributor">
     </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="repository_model Diagram"
  	     icon="icons/obj16/RepositoryDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmCreationWizard"
  	     id="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmCreationWizardID">
  	  	 <description>
  	  		Creates repository_model diagram.
  	  	 </description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="de.uka.ipd.sdq.pcm.gmf.repository.ui.objectContribution.IFile1"
            nameFilter="*.repository"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="Initialize repository_diagram diagram file"
               class="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmInitDiagramFileActionID">
         </action>
      </objectContribution>  
      <objectContribution
            adaptable="false"
            id="de.uka.ipd.sdq.pcm.gmf.repository.ui.objectContribution.RepositoryEditPart2"
            objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.RepositoryEditPart">
         <action
               class="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmLoadResourceAction"
               enablesFor="1"
               id="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmLoadResourceActionID"
               label="Load Resource..."
               menubarPath="additions">
         </action>
      </objectContribution>                      
  </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider class="de.uka.ipd.sdq.pcm.gmf.repository.providers.PcmContributionItemProvider">
         <Priority name="Low">
         </Priority>
         <partContribution id="de.uka.ipd.sdq.pcm.gmf.repository.part.RepositoryDiagramEditorID">
            <partAction menubarPath="/file/print" id="printPreviewAction">
            </partAction>
         </partContribution>
      </contributionItemProvider>
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.SignatureEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.ResourceDemandingSEFFEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.InterfaceEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.InterfaceEntityNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.BasicComponentEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.BasicComponentEntityNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.CompleteComponentTypeEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.CompleteComponentTypeEntityNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.ProvidesComponentTypeEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.ProvidesComponentTypeEntityNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.CompositeComponentEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.ProvidedRoleEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.ProvidesStereotypeLabelEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.RequiredRoleEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.repository.edit.parts.RequiresStereotypeLabelEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="repository_modelPresentation">
         <Priority name="Lowest"/>
         <ViewId id="de.uka.ipd.sdq.pcm.gmf.repository.part.RepositoryDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="repository_modelPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="de.uka.ipd.sdq.pcm.gmf.repository.part.RepositoryDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="repository_modelPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="de.uka.ipd.sdq.pcm.gmf.repository.part.RepositoryDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="repository_modelRender">
         <Priority name="Lowest"/>
         <ViewId id="de.uka.ipd.sdq.pcm.gmf.repository.part.RepositoryDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="de.uka.ipd.sdq.pcm.gmf.repository.providers.PcmViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="repository_model"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="de.uka.ipd.sdq.pcm.gmf.repository.providers.PcmEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="de.uka.ipd.sdq.pcm.gmf.repository.providers.PcmPaletteProvider">
         <Priority name="Lowest"/>
         <editor id="de.uka.ipd.sdq.pcm.gmf.repository.part.RepositoryDiagramEditorID"/>
      </paletteProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider class="de.uka.ipd.sdq.pcm.gmf.repository.providers.PcmModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.properties.propertiesProviders">
      <PropertiesProvider
            verifyPluginLoaded="false"
            class="de.uka.ipd.sdq.pcm.gmf.repository.providers.PcmPropertyProvider">
         <Priority name="Lowest"/>
      </PropertiesProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider class="de.uka.ipd.sdq.pcm.gmf.repository.providers.PcmIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider class="de.uka.ipd.sdq.pcm.gmf.repository.providers.PcmParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.Repository_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Repository"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.RepositoryEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.Signature_2001"
               name="Signature"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Signature"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.SignatureEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/SEFF/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.ResourceDemandingSEFF_2002"
               name="SEFF"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ResourceDemandingSEFF"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.ResourceDemandingSEFFEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.Interface_1001"
               name="Interface"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Interface"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.InterfaceEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.BasicComponent_1002"
               name="BasicComponent"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BasicComponent"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.BasicComponentEditHelper">
            <param name="semanticHint" value="1002"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.CompleteComponentType_1003"
               name="CompleteComponentType"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CompleteComponentType"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.CompleteComponentTypeEditHelper">
            <param name="semanticHint" value="1003"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.ProvidesComponentType_1004"
               name="ProvidesComponentType"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ProvidesComponentType"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.ProvidesComponentTypeEditHelper">
            <param name="semanticHint" value="1004"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.CompositeComponent_1005"
               name="CompositeComponent"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CompositeComponent"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.CompositeComponentEditHelper">
            <param name="semanticHint" value="1005"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.ProvidedRole_3001"
               name="ProvidedRole"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ProvidedRole"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.ProvidedRoleEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.RequiredRole_3002"
               name="RequiredRole"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RequiredRole"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.RequiredRoleEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext id="repository_modelClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uka.ipd.sdq.pcm.gmf.repository.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="repository_modelClientContext">
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.Repository_79"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.Signature_2001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.ResourceDemandingSEFF_2002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.Interface_1001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.BasicComponent_1002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.CompleteComponentType_1003"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.ProvidesComponentType_1004"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.CompositeComponent_1005"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.ProvidedRole_3001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.RequiredRole_3002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>

</plugin>