<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.palladiosimulator.protocom.workflow.ProtoComCodegenWorkflowLauncher"
            id="com.palladio_simulator.protocom.launchConfigurationType"
            modes="run, debug"
            name="ProtoCom Generator"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.palladiosimulator.protocom.workflow.ProtoComGeneratorTabGroup"
            id="com.palladio_simulator.protocom.launchConfigurationTabGroup1"
            type="com.palladio_simulator.protocom.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.palladio_simulator.protocom.launchConfigurationType"
            icon="icon/app_protocom.png"
            id="com.palladio_simulator.protocom.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
