<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.pcm.sourcecodedecorator.PCMLinkRepository.presentation.PCMLinkRepositoryModelWizardID"
            name="%_UI_PCMLinkRepositoryModelWizard_label"
            class="de.uka.ipd.sdq.pcm.sourcecodedecorator.PCMLinkRepository.presentation.PCMLinkRepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PCMLinkRepositoryModelFile.gif">
         <description>%_UI_PCMLinkRepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.pcm.sourcecodedecorator.PCMLinkRepository.presentation.PCMLinkRepositoryEditorID"
            name="%_UI_PCMLinkRepositoryEditor_label"
            icon="icons/full/obj16/PCMLinkRepositoryModelFile.gif"
            extensions="pcmlinkrepository"
            class="de.uka.ipd.sdq.pcm.sourcecodedecorator.PCMLinkRepository.presentation.PCMLinkRepositoryEditor"
            contributorClass="de.uka.ipd.sdq.pcm.sourcecodedecorator.PCMLinkRepository.presentation.PCMLinkRepositoryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.pcm.sourcecodedecorator.loggerlink.presentation.LoggerlinkModelWizardID"
            name="%_UI_LoggerlinkModelWizard_label"
            class="de.uka.ipd.sdq.pcm.sourcecodedecorator.loggerlink.presentation.LoggerlinkModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LoggerlinkModelFile.gif">
         <description>%_UI_LoggerlinkModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.pcm.sourcecodedecorator.loggerlink.presentation.LoggerlinkEditorID"
            name="%_UI_LoggerlinkEditor_label"
            icon="icons/full/obj16/LoggerlinkModelFile.gif"
            extensions="loggerlink"
            class="de.uka.ipd.sdq.pcm.sourcecodedecorator.loggerlink.presentation.LoggerlinkEditor"
            contributorClass="de.uka.ipd.sdq.pcm.sourcecodedecorator.loggerlink.presentation.LoggerlinkActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.pcm.sourcecodedecorator.GastPcmLink.presentation.GastPcmLinkModelWizardID"
            name="%_UI_GastPcmLinkModelWizard_label"
            class="de.uka.ipd.sdq.pcm.sourcecodedecorator.GastPcmLink.presentation.GastPcmLinkModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GastPcmLinkModelFile.gif">
         <description>%_UI_GastPcmLinkModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.pcm.sourcecodedecorator.GastPcmLink.presentation.GastPcmLinkEditorID"
            name="%_UI_GastPcmLinkEditor_label"
            icon="icons/full/obj16/GastPcmLinkModelFile.gif"
            extensions="gastpcmlink"
            class="de.uka.ipd.sdq.pcm.sourcecodedecorator.GastPcmLink.presentation.GastPcmLinkEditor"
            contributorClass="de.uka.ipd.sdq.pcm.sourcecodedecorator.GastPcmLink.presentation.GastPcmLinkActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.pcm.sourcecodedecorator.rawResourceDemandCounts.presentation.RawResourceDemandCountsModelWizardID"
            name="%_UI_RawResourceDemandCountsModelWizard_label"
            class="de.uka.ipd.sdq.pcm.sourcecodedecorator.rawResourceDemandCounts.presentation.RawResourceDemandCountsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RawResourceDemandCountsModelFile.gif">
         <description>%_UI_RawResourceDemandCountsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.pcm.sourcecodedecorator.rawResourceDemandCounts.presentation.RawResourceDemandCountsEditorID"
            name="%_UI_RawResourceDemandCountsEditor_label"
            icon="icons/full/obj16/RawResourceDemandCountsModelFile.gif"
            extensions="rawresourcedemandcounts"
            class="de.uka.ipd.sdq.pcm.sourcecodedecorator.rawResourceDemandCounts.presentation.RawResourceDemandCountsEditor"
            contributorClass="de.uka.ipd.sdq.pcm.sourcecodedecorator.rawResourceDemandCounts.presentation.RawResourceDemandCountsActionBarContributor">
      </editor>
   </extension>

</plugin>
