<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.controlflowdescription.presentation.ControlFlowDescriptionModelWizardID"
            name="%_UI_ControlFlowDescriptionModelWizard_label"
            class="de.fzi.se.controlflowdescription.presentation.ControlFlowDescriptionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ControlFlowDescriptionModelFile.gif">
         <description>%_UI_ControlFlowDescriptionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.controlflowdescription.presentation.ControlFlowDescriptionEditorID"
            name="%_UI_ControlFlowDescriptionEditor_label"
            icon="icons/full/obj16/ControlFlowDescriptionModelFile.gif"
            extensions="controlflowdescription"
            class="de.fzi.se.controlflowdescription.presentation.ControlFlowDescriptionEditor"
            contributorClass="de.fzi.se.controlflowdescription.presentation.ControlFlowDescriptionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.controlflowdescription.graph.presentation.GraphModelWizardID"
            name="%_UI_GraphModelWizard_label"
            class="de.fzi.se.controlflowdescription.graph.presentation.GraphModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GraphModelFile.gif">
         <description>%_UI_GraphModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.controlflowdescription.graph.presentation.GraphEditorID"
            name="%_UI_GraphEditor_label"
            icon="icons/full/obj16/GraphModelFile.gif"
            extensions="graph"
            class="de.fzi.se.controlflowdescription.graph.presentation.GraphEditor"
            contributorClass="de.fzi.se.controlflowdescription.graph.presentation.GraphActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.controlflowdescription.jjnpaths.presentation.JJnPathsModelWizardID"
            name="%_UI_JJnPathsModelWizard_label"
            class="de.fzi.se.controlflowdescription.jjnpaths.presentation.JJnPathsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/JJnPathsModelFile.gif">
         <description>%_UI_JJnPathsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.controlflowdescription.jjnpaths.presentation.JJnPathsEditorID"
            name="%_UI_JJnPathsEditor_label"
            icon="icons/full/obj16/JJnPathsModelFile.gif"
            extensions="jjnpaths"
            class="de.fzi.se.controlflowdescription.jjnpaths.presentation.JJnPathsEditor"
            contributorClass="de.fzi.se.controlflowdescription.jjnpaths.presentation.JJnPathsActionBarContributor">
      </editor>
   </extension>

</plugin>
