<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/SEFF/1.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.IncludeResourseDemandingEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.CollectionIteratorActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.CollectionIteratorAction_3013">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ParameterCollectionIteratorActionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ParameterCollectionIteratorActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.CollectionIteratorAction_3013">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.CreateLoopIterationsEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.LoopIterationsActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.LoopAction_2004">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.CreateBranchConditionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.BranchConditionActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.GuardedBranchTransition_3017">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.IncludeResourseDemandingEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.LoopActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.LoopAction_2004">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ExternalCallActionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ExternalCallActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ExternalCallAction_2003">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ParametricResourceDemandEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ParametricResourceDemandAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ParametricResourceDemand_3008">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.IncludeResourseDemandingEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ProbabilisticBranchTransitionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ProbabilisticBranchTransition_3010">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.IncludeResourseDemandingEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.GuardedBranchTransitionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.GuardedBranchTransition_3017">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.AquireActionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.AquireActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.AquireAction_2009">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ReleaseActionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ReleaseActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ReleaseAction_2010">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ResourceDemandingBehaviourEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ResourceDemandingBehaviourAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ResourceDemandingBehaviour_3014">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.VariableUsageEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.VariableUsageAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.VariableUsage_3001">
         </adviceBinding>
      </metamodel>
      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/SEFF/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.seff.LoopIterations_9000"
               name="LoopIterations"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="IterationCount"
               edithelper="de.uka.ipd.sdq.pcm.gmf.seff.helper.LoopIterationsEditHelper">
            <param name="semanticHint" value="9000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/SEFF/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.seff.BranchCondition_9001"
               name="BranchCondition"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BranchCondition"
               edithelper="de.uka.ipd.sdq.pcm.gmf.seff.helper.BranchConditionEditHelper">
            <param name="semanticHint" value="9001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext id="PCM SEFF ModelClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uka.ipd.sdq.pcm.gmf.seff.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="PCM SEFF ModelClientContext">
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.CollectionIteratorActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ParameterCollectionIteratorActionAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.LoopActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ExternalCallActionAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ParametricResourceDemandAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.LoopIterationsActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ProbabilisticBranchTransitionAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.GuardedBranchTransitionAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.BranchConditionActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.AquireActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ReleaseActionAdvice">
         </advice>
         <elementType
               ref="de.uka.ipd.sdq.pcm.gmf.seff.LoopIterations_9000">
         </elementType>
         <elementType
               ref="de.uka.ipd.sdq.pcm.gmf.seff.BranchCondition_9001">
         </elementType>
         <elementType
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ResourceDemandingBehaviourAdvice">
         </elementType>
          <elementType
               ref="de.uka.ipd.sdq.pcm.gmf.seff.VariableUsageAdvice">
         </elementType>
       </binding>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider
            class="de.uka.ipd.sdq.pcm.gmf.seff.helper.StoExParserProvider">
         <Priority
               name="Highest">
         </Priority>
      </ParserProvider>
   </extension>
</plugin>
