<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/StochasticProcessAlgebra/1.0" 
       class = "de.uka.ipd.sdq.spa.SpaPackage"
       genModel = "model/StochasticProcessAlgebra.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/Analytical/Expression/1.0" 
       class = "de.uka.ipd.sdq.spa.expression.ExpressionPackage"
       genModel = "model/StochasticProcessAlgebra.genmodel" /> 
  </extension>

  <!--x<extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/Environment/1.0" 
       class = "de.uka.ipd.sdq.environment.EnvironmentPackage"
       genModel = "model/StochasticProcessAlgebra.genmodel" /> 
  </extension>-->

</plugin>

