<%@ CodeTemplate Language="C#" TargetLanguage="C#"
	Description="Generates a class including a special informational header" %>

<%@ Property Name="NameSpace" Type="String"
	Category="Context"
	Description="The namespace to use for this class" %>

<%@ Property Name="ClassName" Type="String"
	Category="Context"
	Description="The name of the class to generate" %>

<%@ Property Name="DevelopersName" Type="String"
	Category="Context"
	Description="The name to include in the comment header" %>
	
///////////////////////////////////////////////////////////////////////////////////////
// File: <%=ClassName%>.cs
// Description: Enter summary here after generation.
// ---------------------
// Copyright © <%= DateTime.Now.Year %> Our Client
// ---------------------
// History
//	<%= DateTime.Now.ToShortDateString() %>    <%= DevelopersName%>    Original Version
///////////////////////////////////////////////////////////////////////////////////////

using System;

namespace <%=NameSpace %>
{
	/// <summary>
	/// Summary description for <%=ClassName %>.
	/// </summary>
	public class <%=ClassName %>
	{
		public <%=ClassName %>()
		{
			//
			// TODO: Add constructor logic here
			//
		}
	}
}
	