<%@ CodeTemplate Language="C#" TargetLanguage="T-SQL"
	Description="Generates a update stored procedure." %>

<%@ Property Name="SourceProcedure" Type="SchemaExplorer.CommandSchema"
	Category="Context"
	Description="The stored procedure to examine" %>

<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="SchemaExplorer" %>

Input Parameters: 
<%foreach(ParameterSchema ps in SourceProcedure.AllInputParameters)
{
	Response.Write(ps.Name);
	Response.Write("\n");
}
%>


Output Parameters: 
<%foreach(ParameterSchema ps in SourceProcedure.AllOutputParameters)
{
	Response.Write(ps.Name);
	Response.Write("\n");
}
%>
