<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
by SDQ, IPD, U Karlrsuhe (TH), 2006
-->
<plugin>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="de.uka.ipd.sdq.pcm.gmf.system.part.PcmDiagramPreferenceInitializer"/>
   </extension>

  <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
         type="text"
         extension="system_diagram">
      </fileTypes>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="system_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
     <editor
        id="de.uka.ipd.sdq.pcm.gmf.system.part.SystemDiagramEditorID"
        name="system Diagram Editor"
        icon="icons/obj16/SystemDiagramFile.gif"
        extensions="system_diagram"
        default="true"
        class="de.uka.ipd.sdq.pcm.gmf.system.part.SystemDiagramEditor"
        matchingStrategy="de.uka.ipd.sdq.pcm.gmf.system.part.PcmMatchingStrategy"
        contributorClass="de.uka.ipd.sdq.pcm.gmf.system.part.PcmDiagramActionBarContributor">
     </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="system Diagram"
  	     icon="icons/obj16/SystemDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="de.uka.ipd.sdq.pcm.gmf.system.part.PcmCreationWizard"
  	     id="de.uka.ipd.sdq.pcm.gmf.system.part.PcmCreationWizardID">
  	  	 <description>
  	  		Creates system diagram.
  	  	 </description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="de.uka.ipd.sdq.pcm.gmf.system.ui.objectContribution.IFile1"
            nameFilter="*.system"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="Initialize system_diagram diagram file"
               class="de.uka.ipd.sdq.pcm.gmf.system.part.PcmInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="de.uka.ipd.sdq.pcm.gmf.system.part.PcmInitDiagramFileActionID">
         </action>
      </objectContribution>  
      <objectContribution
            adaptable="false"
            id="de.uka.ipd.sdq.pcm.gmf.system.ui.objectContribution.SystemEditPart2"
            objectClass="de.uka.ipd.sdq.pcm.gmf.system.edit.parts.SystemEditPart">
         <action
               class="de.uka.ipd.sdq.pcm.gmf.system.part.PcmLoadResourceAction"
               enablesFor="1"
               id="de.uka.ipd.sdq.pcm.gmf.system.part.PcmLoadResourceActionID"
               label="Load Resource..."
               menubarPath="additions">
         </action>
      </objectContribution>                      
  </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider class="de.uka.ipd.sdq.pcm.gmf.system.providers.PcmContributionItemProvider">
         <Priority name="Low">
         </Priority>
         <partContribution id="de.uka.ipd.sdq.pcm.gmf.system.part.SystemDiagramEditorID">
            <partAction menubarPath="/file/print" id="printPreviewAction">
            </partAction>
         </partContribution>
      </contributionItemProvider>
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.system.edit.parts.RoleLabelEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.system.edit.parts.ReqRoleLabelEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.system.edit.parts.SystemProvidedRoleLabelEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.system.edit.parts.SystemRequiredRoleLabelEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.system.edit.parts.AssemblyContextEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.system.edit.parts.AssemblyContextEntityNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.system.edit.parts.AssemblyConnectorEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.system.edit.parts.ProvidedDelegationConnectorEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="de.uka.ipd.sdq.pcm.gmf.system.edit.parts.RequiredDelegationConnectorEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="systemPresentation">
         <Priority name="Lowest"/>
         <ViewId id="de.uka.ipd.sdq.pcm.gmf.system.part.SystemDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="systemPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="de.uka.ipd.sdq.pcm.gmf.system.part.SystemDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="systemPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="de.uka.ipd.sdq.pcm.gmf.system.part.SystemDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="systemRender">
         <Priority name="Lowest"/>
         <ViewId id="de.uka.ipd.sdq.pcm.gmf.system.part.SystemDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="de.uka.ipd.sdq.pcm.gmf.system.providers.PcmViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="system"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="de.uka.ipd.sdq.pcm.gmf.system.providers.PcmEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="de.uka.ipd.sdq.pcm.gmf.system.providers.PcmPaletteProvider">
         <Priority name="Lowest"/>
         <editor id="de.uka.ipd.sdq.pcm.gmf.system.part.SystemDiagramEditorID"/>
      </paletteProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider class="de.uka.ipd.sdq.pcm.gmf.system.providers.PcmModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.properties.propertiesProviders">
      <PropertiesProvider
            verifyPluginLoaded="false"
            class="de.uka.ipd.sdq.pcm.gmf.system.providers.PcmPropertyProvider">
         <Priority name="Lowest"/>
      </PropertiesProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider class="de.uka.ipd.sdq.pcm.gmf.system.providers.PcmIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider class="de.uka.ipd.sdq.pcm.gmf.system.providers.PcmParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/System/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.system.System_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="System"
               edithelper="de.uka.ipd.sdq.pcm.gmf.system.edit.helpers.SystemEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>

      <specializationType
            id="de.uka.ipd.sdq.pcm.gmf.system.Node_2001"
               name="Role"
            kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType">
         <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
         <param name="semanticHint" value="2001"/>
      </specializationType>

      <specializationType
            id="de.uka.ipd.sdq.pcm.gmf.system.Node_2002"
            kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"
            name="ReqRole">
         <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
         <param name="semanticHint" value="2002"/>
      </specializationType>



      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Composition/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.system.AssemblyContext_1001"
               name="AssemblyContext"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AssemblyContext"
               edithelper="de.uka.ipd.sdq.pcm.gmf.system.edit.helpers.AssemblyContextEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>

      <specializationType
            id="de.uka.ipd.sdq.pcm.gmf.system.Node_1002"
            kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"
            name="SystemNode">
         <specializes id="de.uka.ipd.sdq.pcm.gmf.system.System_79"/>
         <param name="semanticHint" value="1002"/>
      </specializationType>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Composition/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.system.AssemblyConnector_3001"
               name="AssemblyConnector"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AssemblyConnector"
               edithelper="de.uka.ipd.sdq.pcm.gmf.system.edit.helpers.AssemblyConnectorEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Composition/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.system.ProvidedDelegationConnector_3002"
               name="ProvidedDelegationConnector"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ProvidedDelegationConnector"
               edithelper="de.uka.ipd.sdq.pcm.gmf.system.edit.helpers.ProvidedDelegationConnectorEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>

      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Composition/1.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.system.RequiredDelegationConnector_3003"
               name="RequiredDelegationConnector"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RequiredDelegationConnector"
               edithelper="de.uka.ipd.sdq.pcm.gmf.system.edit.helpers.RequiredDelegationConnectorEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               eclass="RequiredRole"
               edithelper="de.uka.ipd.sdq.pcm.gmf.system.edit.helpers.RequiredRoleEditHelper"
               id="de.uka.ipd.sdq.pcm.gmf.system.RequiredRole_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <param
                  name="semanticHint"
                  value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               eclass="ProvidedRole"
               id="de.uka.ipd.sdq.pcm.gmf.system.ProvidedRole_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <param
                  name="semanticHint"
                  value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               eclass="RequiredRole"
               edithelper="de.uka.ipd.sdq.pcm.gmf.system.edit.helpers.SystemRequiredRoleEditHelper"
               id="de.uka.ipd.sdq.pcm.gmf.system.SystemRequiredRole_1003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="SystemRequiredRole">
            <param
                  name="semanticHint"
                  value="1003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <metamodelType
               eclass="ProvidedRole"
               edithelper="de.uka.ipd.sdq.pcm.gmf.system.edit.helpers.SystemProvidedRoleEditHelper"
               id="de.uka.ipd.sdq.pcm.gmf.system.SystemProvidedRole_1004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="SystemProvidedRole">
            <param
                  name="semanticHint"
                  value="1004"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext id="systemClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uka.ipd.sdq.pcm.gmf.system.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="systemClientContext">
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.System_79"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.Node_2001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.Node_2002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.Node_2003"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.Node_2004"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.AssemblyContext_1001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.SystemRequiredRole_1003"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.SystemProvidedRole_1004"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.Node_1002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.AssemblyConnector_3001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.ProvidedDelegationConnector_3002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.RequiredDelegationConnector_3003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.RequiredRole_2002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.system.ProvidedRole_2001"/>
      </binding>
   </extension>

</plugin>
