<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schema.omg.org/spec/MOF/2.0/emof.xml"
            class="EMOF.EMOFPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schema.omg.org/spec/QVT/1.0/essentialocl.xml"
            class="EssentialOCL.EssentialOCLPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schema.omg.org/spec/QVT/1.0/qvtbase.xml"
            class="QVTBase.QVTBasePackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="qvtbase"
            class="QVTBase.util.QVTBaseResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schema.omg.org/spec/QVT/1.0/qvtrelation.xml"
            class="QVTRelation.QVTRelationPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="qvtrelation"
            class="QVTRelation.util.QVTRelationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schema.omg.org/spec/QVT/1.0/qvttemplate.xml"
            class="QVTTemplate.QVTTemplatePackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="qvttemplate"
            class="QVTTemplate.util.QVTTemplateResourceFactoryImpl"/>
   </extension>

</plugin>
