<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	   <extension
	         point="org.eclipse.ui.views">
	      <category
	            name="SimuBench Category"
	            id="de.uka.ipd.sdq.codegen.simudatavisualization">
	      </category>
	      <view
	            name="Experiments View"
	            icon="icons/app_simucim.gif"
	            category="de.uka.ipd.sdq.codegen.simudatavisualization"
	            class="de.uka.ipd.sdq.codegen.simudatavisualization.views.ExperimentsView"
	            id="de.uka.ipd.sdq.codegen.simudatavisualization.ExperimentsView">
	      </view>
	      <view
	            category="de.uka.ipd.sdq.codegen.simudatavisualization"
	            class="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView"
	            icon="icons/app_simucim.gif"
	            id="de.uka.ipd.sdq.codegen.simudatavisualization.ReportView"
	            name="Report View"/>
	   </extension>
		   <extension
		         point="org.eclipse.ui.perspectives">
		     	 <perspective
		            class="de.uka.ipd.sdq.codegen.simudatavisualization.perspective.SimuBenchPerspective"
		            fixed="false"
		            icon="icons/app_simucim.gif"
		            id="de.uka.ipd.sdq.codegen.simudatavisualization.SimuBenchPerspective"
		            name="SimuBench"/>
		   </extension>
	    <extension
	          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
	       <propertyContributor
              contributorId="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView"
              labelProvider="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.TabbedLabelProvider"
              typeMapper="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.PropertyTypeMapper">
		       		<propertyCategory category="sensors"/>
		         	<propertyCategory category="configuration"/>
	       </propertyContributor>
	    </extension>
	    
	    <extension
	          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	       <propertyTabs 
	       		contributorId="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView">
	       		<propertyTab
	            	category="sensors"
	               	id="SensorsTab"
	            	label="Sensors"/>
	        	<propertyTab
	                afterTab="SensorsTab"
	                category="sensors"
	                id="ConfTab"
	                label="Configuration"/>
	       </propertyTabs>
	   </extension>
	   <extension
	          point="org.eclipse.ui.views.properties.tabbed.propertySections">
	       <propertySections contributorId="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView">
	          <propertySection
                 class="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.SensorsPropertySection"
                 filter="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.TabFilter"
                 id="SensorsSection"
                 tab="SensorsTab">
           </propertySection>
	          <propertySection
	                class="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.ConfPropertySection"
	                filter="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.TabFilter"
	                id="ConfSection"
	                tab="ConfTab">
	         </propertySection>
	      </propertySections>
	   </extension>
      <extension
            point="org.eclipse.ui.dropActions">
         <action
               class="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.DropAdapter"
               id="de.uka.ipd.sdq.codegen.simudatavisualization.Drop">
         </action>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView"
               icon="icons/new_chart.gif"
               id="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView"
               name="Report Editor">
         </editor>
         <editor
               class="de.uka.ipd.sdq.codegen.simudatavisualization.views.JFreeChartPieReport"
               icon="icons/new_chart.gif"
               id="de.uka.ipd.sdq.codegen.simudatavisualization.views.JFreeChartPieReport"
               name="JFreeChart Pie Viewer">
         </editor>
      </extension>
      <extension
            point="de.uka.ipd.sdq.sensorframework.visualisation">
         <Visualisation
               acceptsData="de.uka.ipd.sdq.codegen.simudatavisualisation.datatypes.Pie"
               acceptsMultiple="false"
               class="de.uka.ipd.sdq.codegen.simudatavisualization.views.JFreeChartPieReport"
               displayName="JFreeChart Pie Chart"
               editorID="de.uka.ipd.sdq.codegen.simudatavisualization.views.JFreeChartPieReport">
         </Visualisation>
      </extension>
      <extension
            point="de.uka.ipd.sdq.sensorframework.visualisation">
         <Visualisation
               acceptsData="de.uka.ipd.sdq.codegen.simudatavisualisation.datatypes.Histogram"
               acceptsMultiple="true"
               class="de.uka.ipd.sdq.codegen.simudatavisualization.views.JFreeChartPieReport"
               displayName="JFreeChart Histogram"
               editorID="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView">
         </Visualisation>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:org.eclipse.ui.main.menu?before=window">
            <menu
                  id="de.uka.ipd.sdq.codegen.simudatavisualisation.visualisationsMenu"
                  label="Visualisations"
                  mnemonic="V"
                  tooltip="Visualisations">
            <dynamic
                  class="de.uka.ipd.sdq.codegen.simudatavisualization.VisualisationMenuItemContributions"
                  id="de.uka.ipd.sdq.codegen.simudatavisualization.visualisationMenuItems">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="de.uka.ipd.sdq.codegen.simudatavisualization.perspectiveTester.currentPerspective"
                     value="de.uka.ipd.sdq.codegen.simudatavisualization.SimuBenchPerspective">
               </test>
            </visibleWhen>
            </menu>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="de.uka.ipd.sdq.codegen.simudatavisualization.PerspectivePropertyTester"
               id="de.uka.ipd.sdq.codegen.simudatavisualization.perspectiveTester"
               namespace="de.uka.ipd.sdq.codegen.simudatavisualization.perspectiveTester"
               properties="currentPerspective"
               type="java.lang.Object">
         </propertyTester>
      </extension>
</plugin>
