<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/UsageModel/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.usage.helper.CreateThinkTimeEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.usage.ThinkTimeActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.usage.ClosedWorkload_3015">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.usage.helper.CreateArrivalRateEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.usage.ArrivalRateActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.usage.OpenWorkload_3016">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.usage.helper.CreateLoopIterationsEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.usage.LoopIterationsActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.usage.Loop_3005">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.usage.helper.IncludeBehaviourEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.usage.LoopAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.usage.Loop_3005">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.usage.helper.IncludeBehaviourEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.usage.BranchTransitionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.usage.BranchTransition_3009">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.usage.helper.EntryLevelSystemCallEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.usage.EntryLevelSystemCallAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.usage.EntryLevelSystemCall_3003">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.usage.helper.VariableUsageEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.usage.VariableUsageAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.usage.VariableUsage_3012">
         </adviceBinding>
       <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.usage.helper.ScenarioBehaviourEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.usage.ScenarioBehaviourAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.usage.ScenarioBehaviour_3014">
         </adviceBinding>
	       <adviceBinding 
	           class="de.uka.ipd.sdq.pcm.gmf.usage.helper.VariableCharacterisationEditHelperAdvice"
	           id="de.uka.ipd.sdq.pcm.gmf.usage.VariableCharacterisationAdvice"
	           inheritance="all"
	           typeId="de.uka.ipd.sdq.pcm.gmf.usage.VariableCharacterisation_3013">
	     </adviceBinding>
	      <adviceBinding 
	           class="de.uka.ipd.sdq.pcm.gmf.usage.helper.CreateDelaySpecificationEditHelperAdvice"
	           id="de.uka.ipd.sdq.pcm.gmf.usage.CreateDelaySpecificationAdvice"
	           inheritance="all"
	           typeId="de.uka.ipd.sdq.pcm.gmf.usage.Delay_3017">
	     </adviceBinding>
      </metamodel>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext id="de.uka.ipd.sdq.pcm.gmf.usage.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uka.ipd.sdq.pcm.gmf.usage.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="de.uka.ipd.sdq.pcm.gmf.usage.TypeContext">
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.usage.LoopIterationsActionAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.usage.LoopAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.usage.BranchTransitionAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.usage.EntryLevelSystemCallAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.usage.VariableUsageAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.usage.ScenarioBehaviourAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.usage.VariableCharacterisationAdvice">
         </advice> 
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.usage.ThinkTimeActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.usage.ArrivalRateActionAdvice">
         </advice>
         <elementType
               ref="de.uka.ipd.sdq.pcm.gmf.seff.PCMRandomVariable_9000">
         </elementType>  
          <elementType
               ref="de.uka.ipd.sdq.pcm.gmf.usage.CreateDelaySpecificationAdvice">
         </elementType>                   
       </binding>
   </extension>
</plugin>
