<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.sensorframework.de.uka.ipd.sdq.sensorframework.filter">
      <FilterFactory
            class="de.uka.ipd.sdq.sensorframework.filter.OutlierFilteredFactory"
            displayName="Outlier Filter"
            id="Outlier Filter">
      </FilterFactory>
      <FilterFactory
            class="de.uka.ipd.sdq.sensorframework.filter.WarmupFilteredFactory"
            displayName="Warm Up Filter"
            id="Warm Up Filter">
      </FilterFactory>
   </extension>

</plugin>
