<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.sensorframework.filter">
      <MeasurementFilter
            class="de.uka.ipd.sdq.sensorframework.filter.OutlierFilteringCollection"
            displayName="OutlierFilteringCollection"
            id="OutlierFilteringCollection">
      </MeasurementFilter>
      <MeasurementFilter
            class="de.uka.ipd.sdq.sensorframework.filter.WarmupFilteringCollection"
            displayName="WarmupFilteringCollection"
            id="WarmupFilteringCollection">
      </MeasurementFilter>
   </extension>

</plugin>
