<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Palladio code2model"
            class="de.uka.ipd.sdq.code2model.preferences.Code2ModelPreferencePage"
            id="code2model.preferences.preferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.uka.ipd.sdq.code2model.preferences.PreferenceInitializer"/>
   </extension>
   <extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="code2model.generateRDSEFFcommand"
               label="Generate RDSEFF"
               style="push">
            <visibleWhen>
               <iterate>
               <or>
                  <instanceof value="org.eclipse.jdt.core.ICompilationUnit" />
                  <instanceof value="org.eclipse.jdt.core.IMethod" />
                  <instanceof value="org.eclipse.jdt.core.IPackageFragment" />
                  <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot" />
               </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="code2model.generateRDSEFFcommand" name="Generate RDSEFF command" />
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="de.uka.ipd.sdq.code2model.popup.actions.GenerateRDSEFFHandler"
            commandId="code2model.generateRDSEFFcommand">
      </handler>
   </extension>

</plugin>
