<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="JFreeChart Views"
            id="de.uka.ipd.sdq.edp2.visualization.jfreechart">
      </category>
      <view
            category="de.uka.ipd.sdq.edp2.visualization.jfreechart"
            class="de.uka.ipd.sdq.edp2.visualization.jfreechart.views.JFreeChartView"
            icon="icons/sample.gif"
            id="de.uka.ipd.sdq.edp2.visualization.jfreechart.views.JFreeChartView"
            name="Time Series">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="de.uka.ipd.sdq.edp2.visualization.jfreechart.views.JFreeChartView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
