<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.uka.ipd.sdq.simucom.rerunsimulation.runconfig.RerunSimuComWorkflowLauncher"
            id="de.uka.ipd.sdq.simucom.rerunsimulation.RerunSimulation"
            modes="run, debug"
            name="Rerun Simulation"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.uka.ipd.sdq.simucom.rerunsimulation.RerunSimulation"
            icon="icons/app_simucim.gif"
            id="de.uka.ipd.sdq.simucom.rerunsimulation.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.uka.ipd.sdq.simucom.rerunsimulation.runconfig.RerunSimulationTabGroup"
            id="de.uka.ipd.sdq.simucom.rerunsimulation.launchConfigurationTabGroup"
            type="de.uka.ipd.sdq.simucom.rerunsimulation.RerunSimulation">
      </launchConfigurationTabGroup>
   </extension>


</plugin>
