<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/QueueingNetworkModel/1.0" 
       class = "de.uka.ipd.sdq.qnm.QnmPackage"
       genModel = "model/QueueingNetworkModel_FindBug.genmodel" /> 
  </extension>

</plugin>

