<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.uka.ipd.sdq.measurements.osscheduler.configurator.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="de.uka.ipd.sdq.measurements.osscheduler.configurator.actions.StartOSMeasurements"
               icon="icons/sample.gif"
               id="de.uka.ipd.sdq.measurements.osscheduler.configurator.actions.Start OS Measurements"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>

</plugin>
