#Fri Jan 04 18:22:48 CET 2008
pluginbuilder.is.generation.necessary=true
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.eclipse.url=http\://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/eclipse/downloads/drops/R-3.3-200706251500/eclipse-SDK-3.3-linux-gtk.tar.gz
pluginbuilder.feature.urls=http\://www.eclipse.org/downloads/download.php?file\=/modeling/gmf/downloads/drops/R-2.0-200706210000/GMF-sdk-2.0.zip&url\=http\://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/modeling/gmf/downloads/drops/R-2.0-200706210000/GMF-sdk-2.0.zip&mirror_id\=17,http\://oaw.pluginbuilder.org/nightly/4.2.0.200707192226NGT/org.openarchitectureware.core.feature-4.2.0.200707192226NGT.zip,http\://oaw.pluginbuilder.org/nightly/4.2.0.200707192226NGT/org.openarchitectureware.plugins.feature-4.2.0.200707192226NGT.zip,http\://www.eclipse.org/downloads/download.php?file\=/modeling/gmf/downloads/drops/B-2.0-200706250000/GMF-base-2.0.zip&url\=http\://download.eclipse.org/modeling/gmf/downloads/drops/B-2.0-200706250000/GMF-base-2.0.zip&mirror_id\=1,http\://europa-mirror1.eclipse.org/tools/orbit/downloads/drops/R200706192011/orbit-R200706192011.zip,http\://oaw.pluginbuilder.org/nightly/4.2.0.200707192226NGT/org.openarchitectureware.sdk.feature-4.2.0.200707192226NGT.zip
autotestsuite.trace=true
pluginbuilder.features=de.uka.ipd.sdq.probfunction.feature,de.uka.ipd.sdq.pcm.feature,de.uka.ipd.sdq.pcm.diagram.feature,de.uka.ipd.sdq.sensorframework.feature,de.uka.ipd.sdq.sensorframework.visualisation.feature,de.uka.ipd.sdq.simucom.feature,de.uka.ipd.sdq.tests,test_feature
autotestsuite.class.inclusions=.*
pluginbuilder.is.svn=true
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=svn\://i43pc13.ipd.uka.de/code
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.password=eQFAyX
pluginbuilder.svn.user=steffen
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
