#Thu Feb 14 15:16:39 CET 2008
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.eclipse.url=http\://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/eclipse/downloads/drops/R-3.3.1.1-200710231652/eclipse-SDK-3.3.1.1-linux-gtk.tar.gz
pluginbuilder.feature.urls=http\://www.eclipse.org/downloads/download.php?file\=/modeling/gmf/downloads/drops/R-2.0-200706210000/GMF-sdk-2.0.zip&url\=http\://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/modeling/gmf/downloads/drops/R-2.0-200706210000/GMF-sdk-2.0.zip&mirror_id\=17,http\://www.eclipse.org/downloads/download.php?file\=/modeling/gmf/downloads/drops/B-2.0-200706250000/GMF-base-2.0.zip&url\=http\://download.eclipse.org/modeling/gmf/downloads/drops/B-2.0-200706250000/GMF-base-2.0.zip&mirror_id\=1,http\://download.eclipse.org/tools/orbit/downloads/drops/S200712072116/orbit-S200712072116.zip,http\://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/technology/gmt/oaw/42/openArchitectureWare-42-sdk.zip,http\://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/eclipse/equinox/drops/R-3.3.1.1-200710231652/eclipse-equinox-3.3.1.1.zip
autotestsuite.trace=true
pluginbuilder.features=de.uka.ipd.sdq.probfunction.feature,de.uka.ipd.sdq.pcm.feature,de.uka.ipd.sdq.pcm.diagram.feature,de.uka.ipd.sdq.sensorframework.feature,de.uka.ipd.sdq.sensorframework.visualisation.feature,de.uka.ipd.sdq.simucom.feature,de.uka.ipd.sdq.tests
autotestsuite.class.inclusions=.*
pluginbuilder.is.svn=true
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=svn\://i43pc13.ipd.uka.de/code
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.password=obREaglAkEmhaDwl
pluginbuilder.svn.user=cruisecontrol
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
pluginbuilder.is.server=true
eclipse.download.cache=/home/ccontrol/downloadCache
