<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   Benutzeranwendung und konfigurierte Eigenschafteneinstellungen hier einfügen.-->
		<!--   Beispiel: <add key="settingName" value="settingValue"/> -->
		<add key="sqlConnection.ConnectionString" value="workstation id=INSPIRON;packet size=4096;integrated security=SSPI;data source=localhost;persist security info=False;initial catalog=ReliabilityDB" />
	</appSettings>
</configuration>