<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="SourceCodeDecorator.sourcecodedecorator.presentation.SourcecodedecoratorModelWizardID"
            name="%_UI_SourcecodedecoratorModelWizard_label"
            class="SourceCodeDecorator.sourcecodedecorator.presentation.SourcecodedecoratorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SourcecodedecoratorModelFile.gif">
         <description>%_UI_SourcecodedecoratorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="SourceCodeDecorator.sourcecodedecorator.presentation.SourcecodedecoratorEditorID"
            name="%_UI_SourcecodedecoratorEditor_label"
            icon="icons/full/obj16/SourcecodedecoratorModelFile.gif"
            extensions="sourcecodedecorator"
            class="SourceCodeDecorator.sourcecodedecorator.presentation.SourcecodedecoratorEditor"
            contributorClass="SourceCodeDecorator.sourcecodedecorator.presentation.SourcecodedecoratorActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="SourceCodeDecorator.PCMLink.presentation.PCMLinkModelWizardID"
            name="%_UI_PCMLinkModelWizard_label"
            class="SourceCodeDecorator.PCMLink.presentation.PCMLinkModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PCMLinkModelFile.gif">
         <description>%_UI_PCMLinkModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="SourceCodeDecorator.PCMLink.presentation.PCMLinkEditorID"
            name="%_UI_PCMLinkEditor_label"
            icon="icons/full/obj16/PCMLinkModelFile.gif"
            extensions="pcmlink"
            class="SourceCodeDecorator.PCMLink.presentation.PCMLinkEditor"
            contributorClass="SourceCodeDecorator.PCMLink.presentation.PCMLinkActionBarContributor">
      </editor>
   </extension>

</plugin>
