<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.codegen.simucontroller.simulator">
      <simulator
            id="de.uka.ipd.sdq.codegen.simucontroller.eventsim"
            launchDelegate="de.uka.ipd.sdq.simulation.controller.runconfig.EventSimWorkflowLauncher"
            name="EventSim (Event-Driven Simulation)">
      </simulator>
   </extension>

</plugin>
