* {
	padding: 0;
	border: 0;
	margin: 0;
	outline: 0;
}

body {
	padding: 30px 0;
	color: #505050;
	background: #e6f0ff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

/* Headings */

h1 {
	font-size: 24px;
}

h2 {
	padding-bottom: 5px;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: normal;
}

/* Lists */

ul {
	list-style: none;
}

/* Tables */

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

th {
	padding: 8px;
	border-bottom: 1px solid #dcdcdc;
	background: #f0f0f0;
	text-align: left;
}

td {
	padding: 8px;
	border-bottom: 1px solid #dcdcdc;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

tbody tr:hover {
	background: #f0f5ff;
}

tr button {
	color: #4691d2;
}

/* Forms and Buttons */

input[type="text"] {
	padding: 5px;
	border: 1px solid #dcdcdc;
	color: inherit;
	font: inherit;
}

input[type="text"].inline {
	box-sizing: border-box;
	width: 100%;
	padding: 1px;
	margin: -6px 0;
	font-size: 14px;
}

input[type="checkbox"] {
	display: block;
	margin-top: 0px;
}

select {
	width: 100%;
	border: 1px solid #dcdcdc;
	margin: -2px 0;
	color: inherit;
	font: inherit;
	font-size: 12px;
}

button {
	font: inherit;
}

/* Main */

#main {
	/* Hide at startup. */
	/* display: none; */
	
	width: 600px;
	margin: auto;
}

.box {
	padding: 10px 15px 15px;
	margin-top: 20px;
	background: white;
}

/* Header */

#header {
	height: 55px;
	border-top: 6px solid #4691d2;
	background: white;
	line-height: 55px;
}

#header .subtitle {
	margin-left: 10px;
	font-size: 20px;
	font-weight: normal;
}

#header #logo {
	float: left;
	width: 60px;
	height: 55px;
	margin-right: 15px;
	background: url("../img/palladio.png") #4691d2 no-repeat;
	background-position: 50% 40%;
}

/* Settings */

#settings .value-column {
	width: 25%;
}

#settings .description-column {
	width: 52%;
}

#settings .required {
	color: red;
}

#settings .description {
	color: #bbb;
}

#settings button {
	padding: 8px;
	border: 0px solid #0a5aa0;
	margin-top: 25px;
	color: #f8f8f8;
	background: #4691d2;
}

#settings .note {
	margin-left: 10px;
	color: #aaa;
	font-style: italic;
}

/* Modules */

#modules .state-column {
	width: 20%;
}

#modules .actions-column {
	width: 18%;
}

#modules .started {
	color: #00b400;
}

#modules button {
	color: #4691d2;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

#modules button.disabled {
	color: #cccccc;
	cursor: default;
}

/* Log */

#log #messages {
	display: block;
	width: 558px;
	height: 180px;
	padding: 5px;
	border: 1px solid #dcdcdc;
	margin: auto;
	resize: none;
	color: inherit;
	font-family: monospace;
	font-size: inherit;
	overflow-x: scroll;
	white-space: pre;
	word-wrap: normal;
}
