<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 (c) 2008 SDQ, Universität Karlsruhe (TH), Germany

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.featureconfig.presentation.FeatureconfigModelWizardID"
            name="%_UI_FeatureconfigModelWizard_label"
            class="de.uka.ipd.sdq.featureconfig.presentation.FeatureconfigModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FeatureconfigModelFile.gif">
         <description>%_UI_FeatureconfigModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.featureconfig.presentation.FeatureconfigEditorID"
            name="%_UI_FeatureconfigEditor_label"
            icon="icons/full/obj16/FeatureconfigModelFile.gif"
            extensions="featureconfig"
            class="de.uka.ipd.sdq.featureconfig.presentation.FeatureconfigEditor"
            contributorClass="de.uka.ipd.sdq.featureconfig.presentation.FeatureconfigActionBarContributor">
      </editor>
   </extension>

</plugin>
