<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pcmmeasuringpoint -->
      <package
            uri="http://palladiosimulator.org/PCM/MeasuringPoint/1.0"
            class="org.palladiosimulator.pcmmeasuringpoint.PcmmeasuringpointPackage"
            genModel="model/pcmmeasuringpoint.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated pcmmeasuringpoint -->
      <parser
            type="pcmmeasuringpoint"
            class="org.palladiosimulator.pcmmeasuringpoint.util.PcmmeasuringpointResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.util.formater">
      <measuringpointformater
            class="org.palladiosimulator.pcm.edp2.measuringpoint.util.PcmMeasuringPointStringFormaterSwitch">
      </measuringpointformater>
   </extension>

</plugin>
