<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel nsURI="http://palladiosimulator.org/PalladioComponentModel/SEFF/5.0">
      		<metamodelType
               	id="de.uka.ipd.sdq.pcm.gmf.seff.SynchronisationPoint_9001"
               	name="SynchronisationPoint"
               	kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               	eclass="SynchronisationPoint"
               	edithelper="de.uka.ipd.sdq.pcm.gmf.seff.helper.SynchronisationPointEditHelper">
            	<param name="semanticHint" value="9001"/>
        	 </metamodelType>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.IncludeResourceDemandingBehaviourEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.CollectionIteratorActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.CollectionIteratorAction_3013">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ParameterCollectionIteratorActionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ParameterCollectionIteratorActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.CollectionIteratorAction_3013">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.CreateLoopActionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.EmptyLoopActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.LoopAction_2004">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.CreateBranchConditionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.BranchConditionActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.GuardedBranchTransition_3017">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.IncludeResourceDemandingBehaviourEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.LoopActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.LoopAction_2004">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ExternalCallActionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ExternalCallActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ExternalCallAction_2003">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.EmitEventActionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.EmitEventActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.EmitEventAction_2013">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ParametricResourceDemandEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ParametricResourceDemandAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ParametricResourceDemand_3051">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.IncludeResourceDemandingBehaviourEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ProbabilisticBranchTransitionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ProbabilisticBranchTransition_3010">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.IncludeResourceDemandingBehaviourEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.GuardedBranchTransitionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.GuardedBranchTransition_3017">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.AcquireActionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.AcquireActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.AcquireAction_3026">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ReleaseActionEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ReleaseActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ReleaseAction_3020">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ResourceDemandingBehaviourEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ResourceDemandingBehaviourAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ResourceDemandingBehaviour_3014">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.VariableUsageEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.VariableUsageAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.VariableUsage_3042">
         </adviceBinding>
          <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.VariableCharacterisationEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.VariableCharacterisationAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.VariableCharacterisation_3033">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ResourceDemandingBehaviourEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ForkedBehaviourAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ForkedBehaviour_3027">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.ForkActionHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.ForkActionAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ForkAction_3023">
         </adviceBinding>
         <adviceBinding
         		class="de.uka.ipd.sdq.pcm.gmf.seff.helper.SetVariableActionEditHelperAdvice"
         		id="de.uka.ipd.sdq.pcm.gmf.seff.SetVariableActionAdvice"
         		inheritance="all"
         		typeId="de.uka.ipd.sdq.pcm.gmf.seff.SetVariableAction_3024">
         </adviceBinding>
         <adviceBinding
         		class="de.uka.ipd.sdq.pcm.gmf.seff.helper.RecoveryActionBehaviourEditHelperAdvice"
         		id="de.uka.ipd.sdq.pcm.gmf.seff.RecoveryActionBehaviourAdvice"
         		inheritance="all"
         		typeId="de.uka.ipd.sdq.pcm.gmf.seff.RecoveryActionBehaviour_3058">
         </adviceBinding>
 
      </metamodel>
      <metamodel nsURI="http://palladiosimulator.org/PalladioComponentModel/Core/5.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.seff.PCMRandomVariable_9000"
               name="PCMRandomVariable"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PCMRandomVariable"
               edithelper="de.uka.ipd.sdq.pcm.gmf.seff.helper.PCMRandomVariableEditHelper">
            <param name="semanticHint" value="9000"/>
         </metamodelType>
      </metamodel>
      <metamodel
            nsURI="http://palladiosimulator.org/PalladioComponentModel/SEFF/SEFF_Performance/1.0">
         <adviceBinding
               class="de.uka.ipd.sdq.pcm.gmf.seff.helper.InfrastructureCallEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.seff.InfrastructureCallAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.InfrastructureCall_3053">
         </adviceBinding>
      </metamodel>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext id="de.uka.ipd.sdq.pcm.gmf.seff.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uka.ipd.sdq.pcm.gmf.seff.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="de.uka.ipd.sdq.pcm.gmf.seff.TypeContext">
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.CollectionIteratorActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ParameterCollectionIteratorActionAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.LoopActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ExternalCallActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.EmitEventActionAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ParametricResourceDemandAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.EmptyLoopActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ProbabilisticBranchTransitionAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.GuardedBranchTransitionAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.BranchConditionActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.AcquireActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ReleaseActionAdvice">
         </advice>
          <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.VariableUsageAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.VariableCharacterisationAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ForkedBehaviourAdvice">
         </advice>
         <advice
         		ref="de.uka.ipd.sdq.pcm.gmf.seff.ForkActionAdvice">
         </advice>
         <advice
         		ref="de.uka.ipd.sdq.pcm.gmf.seff.SetVariableActionAdvice">
         </advice>
         <advice
         		ref="de.uka.ipd.sdq.pcm.gmf.seff.RecoveryActionBehaviourAdvice">
         </advice>
         <elementType
               ref="de.uka.ipd.sdq.pcm.gmf.seff.PCMRandomVariable_9000">
         </elementType>
         <elementType
               ref="de.uka.ipd.sdq.pcm.gmf.seff.ResourceDemandingBehaviourAdvice">
         </elementType>
         <elementType
         	ref="de.uka.ipd.sdq.pcm.gmf.seff.SynchronisationPoint_9001">
         </elementType>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.seff.InfrastructureCallAdvice">
         </advice>
       </binding>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider
            class="de.uka.ipd.sdq.pcm.gmf.seff.helper.StoExParserProvider">
         <Priority
               name="Highest">
         </Priority>
      </ParserProvider>
   </extension>
</plugin>
