<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://palladiosimulator.org/PalladioComponentModel/ResourceEnvironment/5.1">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.resource.helper.ProcessingResourceSpecificationEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.resource.ProcessingResourceSpecificationAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.resource.ProcessingResourceSpecification_3003">
         </adviceBinding>
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.resource.helper.AddCommunicationLinkResourceSpecificationEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.resource.LinkingResourceAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.resource.LinkingResource_2005">
         </adviceBinding>
      </metamodel>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding context="de.uka.ipd.sdq.pcm.gmf.resource.TypeContext">
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.resource.LinkingResourceAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.resource.ProcessingResourceSpecificationAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.resource.CommunicationLinkResourceSpecificationAdvice">
         </advice>
       
       </binding>
   </extension>
</plugin>
