<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EDP2 -->
      <package
            uri="http://sdq.ipd.uka.de/EDP2/ExperimentData/0.9.1"
            class="de.uka.ipd.sdq.edp2.models.ExperimentData.ExperimentDataPackage"
            genModel="model/EDP2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EDP2 -->
      <package
            uri="http://sdq.ipd.uka.de/EDP2/Repository/0.9.1"
            class="de.uka.ipd.sdq.edp2.models.Repository.RepositoryPackage"
            genModel="model/EDP2.genmodel"/>
   </extension>

</plugin>
