<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
            point="de.uka.ipd.sdq.sensorframework.visualisation">
         <Visualisation
               acceptsData="de.uka.ipd.sdq.sensorframework.entities.TimeSpanSensor"
               acceptsMultiple="true"
               class="de.uka.ipd.sdq.sensorframework.visualisation.statistics.views.ConfidenceIntervalsHtmlReportView"
               displayName="Confidence Interval Report"
               editorID="de.uka.ipd.sdq.sensorframework.visualisation.statistics.views.ConfidenceIntervalsHtmlReportView">
         </Visualisation>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="de.uka.ipd.sdq.sensorframework.visualisation.statistics.views.ConfidenceIntervalsHtmlReportView"
               id="de.uka.ipd.sdq.sensorframework.visualisation.statistics.views.ConfidenceIntervalsHtmlReportView"
               name="Confidence Interval Report">
         </editor>
      </extension>
</plugin>
