<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.simcomp.middleware.simulationComponentType">
      <simulation_component_type
            id="edu.kit.ipd.sdq.simcomp.resource.active"
            name="Active Resource Simulation Component Type"
            type_interface="edu.kit.ipd.sdq.simcomp.resource.active.component.IActiveResource">
      </simulation_component_type>
   </extension>

</plugin>
