#Fri Oct 09 10:15:07 CEST 2009
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=de.uka.ipd.sdq.workflow.feature
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
autotestsuite.plugin.inclusions=de\.uka\..*(test|tests)$
pluginbuilder.svn.password=obREaglAkEmhaDwl
pluginbuilder.svn.user=cruisecontrol
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
pluginbuilder.is.server=true
eclipse.download.cache=/home/ccontrol/downloadCache-pcm-eclipse3.5