<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/Core/Entity/1.0" 
       class = "de.uka.ipd.sdq.pcm.core.entity.EntityPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/Core/Connectors/1.0" 
       class = "de.uka.ipd.sdq.pcm.core.connectors.ConnectorsPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/Composition/1.0" 
       class = "de.uka.ipd.sdq.pcm.core.composition.CompositionPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0" 
       class = "de.uka.ipd.sdq.pcm.repository.RepositoryPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/Protocol/1.0" 
       class = "de.uka.ipd.sdq.pcm.protocol.ProtocolPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/SEFF/1.0" 
       class = "de.uka.ipd.sdq.pcm.seff.SeffPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/ResourceType/1.0" 
       class = "de.uka.ipd.sdq.pcm.resourcetype.ResourcetypePackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/Parameter/1.0" 
       class = "de.uka.ipd.sdq.pcm.parameter.ParameterPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/Allocation/1.0" 
       class = "de.uka.ipd.sdq.pcm.allocation.AllocationPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/ResourceEnvironment/1.0" 
       class = "de.uka.ipd.sdq.pcm.resourceenvironment.ResourceenvironmentPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/System/1.0" 
       class = "de.uka.ipd.sdq.pcm.system.SystemPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/QoSAnnotations/1.0" 
       class = "de.uka.ipd.sdq.pcm.qosannotations.QosannotationsPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://sdq.ipd.uka.de/PalladioComponentModel/UsageModel/1.0" 
       class = "de.uka.ipd.sdq.pcm.usagemodel.UsagemodelPackage"
       genModel = "model/pcm.genmodel" /> 
  </extension>

</plugin>
