<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.sensorframework.adapter">
      <DataAdapter
            class="de.uka.ipd.sdq.sensorframework.adapter.TimeSpanSensorToHistogramFactory"
            id="de.uka.ipd.sdq.sensorframework.adapter.DataAdapter1">
      </DataAdapter>
   </extension>
   <extension
         point="de.uka.ipd.sdq.sensorframework.adapter">
      <DataAdapter
            class="de.uka.ipd.sdq.sensorframework.adapter.StateSensorToPieFactory"
            id="de.uka.ipd.sdq.sensorframework.adapter.StateToPie">
      </DataAdapter>
   </extension>

</plugin>
