<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Builds a class for each class in the assembly, and a test stub for every method." %>
<%@ Import NameSpace="System.Reflection" %>

<%@ Assembly Name="AssemblyHelper" %>
<%@ Import NameSpace="AssemblyHelper" %>


<script runat="template">

private Assembly assembly;
private string classname;

[Editor(typeof(AssemblyHelper.AssemblyFilePicker), typeof(System.Drawing.Design.UITypeEditor))]
public Assembly AssemblyToLoad
{
	get{return assembly;}
	set{assembly = value;}
}

</script>

using System;
using NUnit.Framework;

<%
	foreach(Type T in AssemblyToLoad.GetTypes())
	{
		if(T.IsClass)
		{
			%>
			
			[TestFixture]
			public class <%=T.Name%>Tests
			{
			<%
					MethodInfo[] methods = T.GetMethods ( BindingFlags.Public | BindingFlags.Instance | BindingFlags.Static  );
					foreach(MethodInfo M in methods)
					{
						%>
						
						[Test]
						public void <%=M.Name%>Test
						{
							//TODO Write this test
						
						}						
						<%
					}
		
			%>}<%
		}
	}
%>



