<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.codegen.simucontroller.simulator">
      <simulator
            id="de.uka.ipd.sdq.codegen.simucontroller.simcomp"
            launchDelegate="edu.kit.ipd.sdq.simcomp.controller.runconfig.SimulationComponentWorkflowLauncher"
            name="Simulation Components (Dynamically Composed Simulation)">
      </simulator>
   </extension>

</plugin>
