<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
Copyright 2006 SDQ Research Group, University of Karlsruhe (TH)
-->
<plugin>



   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="de.uka.ipd.sdq.pcm.gmf.seff.custom.providers.CustomPalladioComponentModelEditPartProvider">
         <Priority name="Low"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="PCM SEFF Model"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,2013,2004,2005,2006,2007,2008,2012,2010,2011,2016,3042,3033,3049,3035,3047,3037,3003,3004,3005,3006,3007,3051,3050,3053,3054,3048,3009,3010,3011,3012,3046,3026,3020,3023,3027,3013,3014,3057,3058,3024,3036,3055,3038,3039,3017,3018"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5002,5046,5009,5010,5011,5012,5015,5016,5023,5029,5022,5024,5056,5040,5047,5045,5003,5004,5005,5057,5058,5050,5008,5007,5037,5006,5044,5028,5020,5026,5013,5014,5055,5054,5027,5035,5018,5036"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7021,7037,7044,7042,7043,7004,7006,7045,7048,7049,7050,7007,7009,7010,7023,7041,7024,7026,7014,7054,7055,7025,7032,7034,7033,7018,7011,7012,7046,7051,7016,7019,7056"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="de.uka.ipd.sdq.pcm.gmf.seff.custom.layout.SEFFDefaultLayoutProvider">
         <Priority
               name="High">
         </Priority>
      </layoutProvider>
   </extension>
</plugin>
