<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
     <editor
           class="de.uka.ipd.sdq.pcmbench.MySeffDiagramEditor"
           contributorClass="de.uka.ipd.sdq.pcm.gmf.seff.part.PcmDiagramActionBarContributor"
           default="true"
           extensions="my_seff_diagram"
           icon="icons/palladio-logo.gif"
           id="de.uka.ipd.sdq.pcm.gmf.seff.part.MySeffDiagramEditorID"
           matchingStrategy="de.uka.ipd.sdq.pcm.gmf.seff.part.PcmMatchingStrategy"
           name="SEFF Diagram Editor">
     </editor>
     <editor
           class="de.uka.ipd.sdq.pcmbench.MyRepositoryDiagramEditor"
           contributorClass="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmDiagramActionBarContributor"
           default="true"
           extensions="my_repository_diagram"
           icon="icons/palladio-logo.gif"
           id="de.uka.ipd.sdq.pcm.gmf.repository.part.MyRepositoryDiagramEditorID"
           matchingStrategy="de.uka.ipd.sdq.pcm.gmf.repository.part.PcmMatchingStrategy"
           name="repository_model Diagram Editor">
     </editor>
   </extension>
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="my_seff_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
      <parser
         type="my_repository_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext id="MyPcmClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uka.ipd.sdq.PCMBench.editingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="MyPcmClientContext">
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.ResourceDemandingSEFF_79"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.ResourceDemandingBehaviour_2001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.StartAction_2002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.StopAction_2003"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.LoopAction_2004"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.InternalAction_2005"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.BranchAction_2006"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.BranchTransition_2007"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.ResourceDemandingBehaviour_2008"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.ExternalCallAction_2009"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.StartAction_1001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.StopAction_1002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.ExternalCallAction_1003"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.LoopAction_1004"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.BranchAction_1005"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.InternalAction_1006"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.PrimitiveParametricParameterUsage_1007"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.CollectionParametricParameterUsage_1008"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.ParametricResourceDemand_1009"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.AbstractActionSuccessor_AbstractAction_3001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.ExternalCallActionParametricParameterUsage_ParametricParameterUsage_3002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.seff.AbstractResourceDemandingActionResourceDemand_Action_3003"/>
         
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.Repository_79"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.Signature_2001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.ResourceDemandingSEFF_2002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.Interface_1001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.BasicComponent_1002"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.ProvidedRole_3001"/>
         <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.RequiredRole_3002"/>
         
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
      
   <extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="de.uka.ipd.sdq.pcm.gmf.seff.providers.PcmPaletteProvider">
         <Priority name="Lowest"/>
         <editor id="de.uka.ipd.sdq.pcm.gmf.seff.part.MySeffDiagramEditorID"/>
      </paletteProvider>
      <paletteProvider class="de.uka.ipd.sdq.pcm.gmf.repository.providers.PcmPaletteProvider">
         <Priority name="Lowest"/>
         <editor id="de.uka.ipd.sdq.pcm.gmf.repository.part.MyRepositoryDiagramEditorID"/>
      </paletteProvider>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uka.ipd.sdq.pcmbench.perspective.PCMBenchPerspective"
            fixed="false"
            icon="icons/palladio-logo.gif"
            id="de.uka.ipd.sdq.PCMBench.perspective"
            name="PCMBench">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uka.ipd.sdq.pcmbench.views.ResourceView"
            icon="icons/palladio-logo.gif"
            id="de.uka.ipd.sdq.pcmbench.view.ResourceView"
            name="Resource View"/>
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/palladio-logo.gif"
            id="de.uka.ipd.sdq.pcmbench.projectview"
            name="PCM Project View"/>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            factory="de.uka.ipd.sdq.pcmbench.EditingDomainFactory"
            id="de.uka.ipd.sdq.PCMBench.editingDomain"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="PCM Bench Main Actions"
            id="de.uka.ipd.sdq.PCMBench.mainActionSet"
            label="PCM Bench Main Actions"
            visible="true">
         <menu
               id="de.uka.ipd.sdq.PCMBench.mainMenu"
               label="&amp;PCM Bench">
            <groupMarker name="mainGroupMarker"/>
         </menu>
         <action
               class="de.uka.ipd.sdq.pcmbench.actions.OpenRepositoryAction"
               id="de.uka.ipd.sdq.PCMBench.openRepositoryAction"
               label="&amp;Open Repository..."
               menubarPath="de.uka.ipd.sdq.PCMBench.mainMenu/mainGroupMarker"
               style="push"/>
      </actionSet>
   </extension>
  
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="de.uka.ipd.sdq.pcmbench.projectview">
         <popupMenu
               allowsPlatformContributions="false"
               id="de.uka.ipd.sdq.pcmbench.projectview.menu">
            <insertionPoint
                  name="group.new"
                  separator="true"/>
            <insertionPoint
                  name="group.edit"
                  separator="true"/>
         </popupMenu>
      </viewer>
      <viewerContentBinding viewerId="de.uka.ipd.sdq.pcmbench.projectview">
         <includes>
            <contentExtension pattern="de.uka.ipd.sdq.pcmbench.navigator.propertiesContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
            <contentExtension pattern="de.uka.ipd.sdq.pcmbench.navigator.filters.*"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="de.uka.ipd.sdq.pcmbench.projectview">
         <includes>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.*"/>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="false"
            id="de.uka.ipd.sdq.pcmbench.navigator.filters.hideNonJavaProjects"
            name="Hide projects without the Palladio Nature">
         <filterExpression>
         	<not>
               <adapt type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.uka.ipd.sdq.pcmbench.nature"/>
               </adapt>
             </not>
         </filterExpression>
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.uka.ipd.sdq.pcmbench.navigator.PCMNavigatorContentProvider"
            icon="icons/palladio-logo.gif"
            id="de.uka.ipd.sdq.pcmbench.navigator.propertiesContent"
            labelProvider="de.uka.ipd.sdq.pcmbench.navigator.PCMNavigatorLabelProvider"
            name="Palladio Modelling Projects Content"
            priority="normal"
            providesSaveables="true">
         <enablement>
            <or>
               <instanceof value="org.eclipse.core.resources.IProject"/>
               <instanceof value="org.eclipse.emf.ecore.EObject"/>
               <instanceof value="de.uka.ipd.sdq.pcmbench.ui.provider.categoryaware.GenericCategoryItemProvider"/>
               <instanceof value="de.uka.ipd.sdq.pcmbench.navigator.LinkedRepositoriesNode"/>
            </or>
         </enablement>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.emf.ecore.EObject"/>
               <instanceof value="de.uka.ipd.sdq.pcmbench.ui.provider.categoryaware.GenericCategoryItemProvider"/>
               <instanceof value="de.uka.ipd.sdq.pcmbench.navigator.LinkedRepositoriesNode"/>
            </or>
         </possibleChildren>
         <actionProvider
               class="de.uka.ipd.sdq.pcmbench.navigator.ChildAddMenuProvider"
               id="de.uka.ipd.sdq.pcmbench.ChildAddMenuProvider"/>
      </navigatorContent>
   </extension>
   <extension
         id="de.uka.ipd.sdq.pcmbench.nature"
         name="Palladio Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="de.uka.ipd.sdq.pcmbench.nature.PalladioProjectNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.uka.ipd.sdq.pcmbench.addpcmnature"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.uka.ipd.sdq.pcmbench.actions.AddPalladioNatureAction"
               enablesFor="1"
               id="de.uka.ipd.sdq.pcmbench.addNatureAction"
               label="Add Palladio Nature"
               menubarPath="additions"/>
      </objectContribution>
   </extension>
   <extension
         id="de.uka.ipd.sdq.pcmbench.newPalladioProject"
         name="New Palladio Project"
         point="org.eclipse.ui.newWizards">
      <category
            id="de.uka.ipd.sdq.pcmbench.palladiocategory"
            name="Palladio Projects"/>
      <wizard
            category="de.uka.ipd.sdq.pcmbench.palladiocategory"
            class="de.uka.ipd.sdq.pcmbench.wizards.NewPalladioProjectWizard"
            descriptionImage="icons/palladio-logo.gif"
            finalPerspective="de.uka.ipd.sdq.PCMBench.perspective"
            icon="icons/palladio-logo.gif"
            id="de.uka.ipd.sdq.pcmbench.newProjectWizard"
            name="New Palladio Project Wizard"
            preferredPerspectives="de.uka.ipd.sdq.PCMBench.perspective"
            project="true">
         <description>This wizard creates a new Palladio Modelling Project for CBSE based Quality of Service evaluations.</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="de.uka.ipd.sdq.pcmbench.decorator.DecoratorLightwightLabelProvider"
            icon="icons/palladio-logo-overlay.gif"
            id="de.uka.ipd.sdq.pcmbench.projectdecorator"
            label="Palladio Project Decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IProject"/>
         </enablement>
      </decorator>
   </extension>
</plugin>
