<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/SEFF/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.RepositoryEditorSeffEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.RepositoryEditorResourceDemandingSEFFAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.ResourceDemandingSEFF_3102">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.InterfaceEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.InterfaceAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.OperationInterface_2107">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.InterfaceEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.InterfaceAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.EventGroup_2108">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.InterfaceEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.InterfaceAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.InfrastructureInterface_2109">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.RoleEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.OperationProvidedRoleNameAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.OperationProvidedRole_4105">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.RoleEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.OperationRequiredRoleNameAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.OperationRequiredRole_4106">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.RoleEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.InfrastructureProvidedRoleNameAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.InfrastructureProvidedRole_4111">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.RoleEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.InfrastructureRequiredRoleNameAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.InfrastructureRequiredRole_4112">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.RoleEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.SinkRoleNameAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.SinkRole_4109">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.RoleEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.SourceRoleNameAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.SourceRole_4110">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.PassiveResourceEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.PassiveResourceAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.PassiveResource_3103">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Parameter/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.VariableCharacterisationEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.VariableCharacterisationAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.VariableCharacterisation_3105">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Parameter/5.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.ComponentParameterEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.ComponentParameterAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.VariableUsage_3104">
         </adviceBinding>
      </metamodel>
      <metamodel nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/SEFF/5.0">
         <metamodelType
               id="de.uka.ipd.sdq.pcm.gmf.repository.helper.InitialisedResourceDemandingSEFF_4201"
               name="InitialisedResourceDemandingSEFF"
               eclass="ResourceDemandingSEFF"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelper="de.uka.ipd.sdq.pcm.gmf.repository.edit.helpers.InitialisedResourceDemandingSEFFEditHelperAdvice">
            <param name="semanticHint" value="4201"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext id="de.uka.ipd.sdq.pcm.gmf.repository.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uka.ipd.sdq.pcm.gmf.repository.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="de.uka.ipd.sdq.pcm.gmf.repository.TypeContext">
      	 <elementType ref="de.uka.ipd.sdq.pcm.gmf.repository.helper.InitialisedResourceDemandingSEFF_4201"/>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.InterfaceAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.RepositoryEditorResourceDemandingSEFFAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.OperationProvidedRoleNameAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.PassiveResourceAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.ComponentParameterAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.VariableCharacterisationAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.OperationRequiredRoleNameAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.InfrastructureRequiredRoleNameAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.InfrastructureProvidedRoleNameAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.SourceRoleNameAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.SinkRoleNameAdvice">
         </advice>
       </binding>
   </extension>

</plugin>
