<config>
	<SimuComUsageModel>C:\Dokumente und Einstellungen\Snowball\PCM\ModelExample.QoSA06\My.usagemodel</SimuComUsageModel>
	<SimuComSystem>C:\Dokumente und Einstellungen\Snowball\PCM\ModelExample.QoSA06\My.system</SimuComSystem>
	<SimuComResourceEnvironment>C:\Dokumente und Einstellungen\Snowball\PCM\ModelExample.QoSA06\My.resourceenvironment</SimuComResourceEnvironment>
</config>