<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.usage.externaljavaactions.ClosedWorkloadThinkTimeAction"
            id="org.palladiosimulator.editors.sirius.usage.design.closedWorkloadThinkTime">
      </javaActions>
   </extension>

</plugin>
