<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.usage.externaljavaactions.ClosedWorkloadThinkTimeAction"
            id="org.palladiosimulator.editors.sirius.usage.design.closedWorkloadThinkTime">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.usage.externaljavaactions.VariableCharacterisationNameAction"
            id="org.palladiosimulator.editors.usage.externaljavaactions.varcharname">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.usage.externaljavaactions.DelayTimeAction"
            id="org.palladiosimulator.editors.usage.externaljavaactions.delaytime">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.usage.externaljavaactions.OpenWorkloadInterArrivalTimeAction"
            id="org.palladiosimulator.editors.usage.externaljavaactions.interarrivaltime">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.usage.externaljavaactions.LoopIterationsAction"
            id="org.palladiosimulator.editors.usage.externaljavaactions.loopiterations">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.usage.externaljavaactions.EntryLevelSystemCallCreationDialog"
            id="org.palladiosimulator.editors.usage.externaljavaactions.systemcall">
      </javaActions>
   </extension>

</plugin>
