<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///SourceCodeDecorator/sourcecodedecorator.ecore"
            class="SourceCodeDecorator.sourcecodedecorator.SourcecodedecoratorPackage"
            genModel="model/SourceCodeDecorator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="sourcecodedecorator"
            class="SourceCodeDecorator.sourcecodedecorator.util.SourcecodedecoratorResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///SourceCodeDecorator/PCMLink.ecore"
            class="SourceCodeDecorator.PCMLink.PCMLinkPackage"
            genModel="model/SourceCodeDecorator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="pcmlink"
            class="SourceCodeDecorator.PCMLink.util.PCMLinkResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///SourceCodeDecorator/loggerLink.ecore"
            class="SourceCodeDecorator.loggerLink.LoggerLinkPackage"
            genModel="model/SourceCodeDecorator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="loggerlink"
            class="SourceCodeDecorator.loggerLink.util.LoggerLinkResourceFactoryImpl"/>
   </extension>

</plugin>
