<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uka.ipd.sdq.pcm.stochasticexpressions.editor.StochasticExpressionsEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="stoex"
            icon="icons/sample.gif"
            id="de.uka.ipd.sdq.pcm.stochasticexpressions.editor.StochasticExpressionsEditor"
            name="StochasticExpressions Editor">
      </editor>
   </extension>

   <extension
         id="Problem"
         name="StochasticExpressions Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
