<cruisecontrol>


  <project name="PCM" requiremodification="true">
    <modificationset>
      <!-- <alwaysbuild username="webmaster-sdq@ipd.uka.de" property="forced by alwaysbuild" ></alwaysbuild> -->
	<svn RepositoryLocation="svn://141.3.52.13/code" username="cruisecontrol" password="obREaglAkEmhaDwl" />	
    </modificationset>
    <schedule interval="360"> <!-- in seconds; 86400: 1 day -->
      <ant buildfile="/home/ccontrol/svn/code/Palladio.PluginBuilder/trunk/de.uka.ipd.sdq.pluginbuilder/build.xml" target="main-cc" antworkingdir="/home/ccontrol/svn/code/Palladio.PluginBuilder/trunk/de.uka.ipd.sdq.pluginbuilder" antscript="/usr/bin/ant" usedebug="false" uselogger="false" timeout="3600"></ant>
    </schedule>
    <log>
      <merge dir="/home/ccontrol/pluginbuilder/de.uka.ipd.sdq.pluginbuilder/results/testresults/xml" pattern="testReport*.xml"></merge>
    </log>
    <labelincrementer defaultlabel="3.1" prebuildincrementer="true"></labelincrementer>
    <publishers>
      <htmlemail buildresultsurl="http://sdqweb.ipd.uka.de/cruisecontrol/buildresults/PCM" mailhost="smtp.ira.uni-karlsruhe.de" reportsuccess="fixes" returnname="Steffen Becker" subjectprefix="[CruiseControl]: " spamwhilebroken="false" failasimportant="true" returnaddress="sbecker@ipd.uka.de" skipusers="true">
        <always address="sdq-dev@ira.uka.de"></always>
        <!-- <always address="sbecker@ipd.uka.de"></always>
        <always address="krogmann@ipd.uka.de"></always> -->
      </htmlemail>
      <!-- <xsltlogpublisher directory="/home/ccontrol/pluginbuilder/de.uka.ipd.sdq.pluginbuilder/results/testresults/html" xsltfile="/usr/local/cruisecontrol/cruisecontrol-bin-2.7.3/webapps/cruisecontrol/xsl/buildresults.xsl" outfilename="buildlog.html"></xsltlogpublisher> -->
      <onsuccess>
<antpublisher antscript="/usr/bin/ant" antworkingdir="/home/ccontrol/pluginbuilder/de.uka.ipd.sdq.pluginbuilder" buildfile="/home/ccontrol/svn/code/Palladio.PluginBuilder/trunk/de.uka.ipd.sdq.pluginbuilder/upload.xml" uselogger="true" usedebug="false" target="upload">
    </antpublisher>
      </onsuccess>
      <onfailure>
<antpublisher antscript="/usr/bin/ant" antworkingdir="/home/ccontrol/pluginbuilder/de.uka.ipd.sdq.pluginbuilder" buildfile="/home/ccontrol/svn/code/Palladio.PluginBuilder/trunk/de.uka.ipd.sdq.pluginbuilder/upload-on-fail.xml" uselogger="true" usedebug="false" target="upload">
    </antpublisher>
      </onfailure>
    </publishers>
    <bootstrappers>
      <svnbootstrapper username="cruisecontrol" password="obREaglAkEmhaDwl" localworkingcopy="/home/ccontrol/svn/code/Palladio.PluginBuilder/trunk/de.uka.ipd.sdq.pluginbuilder"></svnbootstrapper>
    </bootstrappers>
    <listeners></listeners>
  </project>
  

<!-- #### BELOW: generate JavaDoc for the PCM ################################### -->
  <project name="PCM JavaDoc generation (run after successful PCM build)" requiremodification="true">
    <modificationset>
      <alwaysbuild username="webmaster-sdq@ipd.uka.de"></alwaysbuild>
    </modificationset>
    <schedule interval="86400"> <!-- in seconds; 86400: 1 day -->
      <!-- <ant buildfile="/home/ccontrol/svn/code/pcm-javadoc-pluginbuilder/build.xml" target="main-cc" antworkingdir="/home/ccontrol/svn/code/pcm-javadoc-pluginbuilder" antscript="/usr/bin/ant" usedebug="false" uselogger="false" timeout="3600"></ant> -->
      <ant buildfile="/home/ccontrol/svn/code/pcm-javadoc-pluginbuilder/build-files/postBuild.xml" target="javadoc-pcm" antworkingdir="/home/ccontrol/svn/code/pcm-javadoc-pluginbuilder" antscript="/usr/bin/ant" usedebug="false" uselogger="true" timeout="3600"></ant>      
    </schedule> 
    <log>
      <merge dir="/home/ccontrol/pluginbuilder/pcm-javadoc-pluginbuilder/results/testresults/xml" pattern="testReport*.xml"></merge>
    </log>
    <labelincrementer defaultlabel="1.0" prebuildincrementer="true"></labelincrementer>
    <publishers>
      <htmlemail buildresultsurl="http://sdqweb.ipd.uka.de/cruisecontrol/buildresults/pcm-javadoc-pluginbuilder" mailhost="smtp.ira.uni-karlsruhe.de" reportsuccess="fixes" returnname="Cruiscontrol Build" subjectprefix="[CruiseControl]: " spamwhilebroken="false" failasimportant="true" returnaddress="webmaster-sdq@ipd.uka.de">
        <always address="krogmann@ira.uka.de"></always>
      </htmlemail>
      <onsuccess>
<antpublisher antscript="/usr/bin/ant" antworkingdir="/home/ccontrol/pluginbuilder/pcm-javadoc-pluginbuilder" buildfile="/home/ccontrol/svn/code/pcm-javadoc-pluginbuilder/upload.xml" uselogger="true" usedebug="false" target="upload">
    </antpublisher>
      </onsuccess>
    </publishers>
    <bootstrappers>
      <svnbootstrapper username="cruisecontrol" password="obREaglAkEmhaDwl" localworkingcopy="/home/ccontrol/svn/code/pcm-javadoc-pluginbuilder"></svnbootstrapper>
    </bootstrappers>
    <listeners></listeners>
  </project>  
    
  
   <!-- #### BELOW: TEST ################################### -->
  
 
  <project name="PCM-test-build" requiremodification="true">
    <modificationset>
      <alwaysbuild username="webmaster-sdq@ipd.uka.de"></alwaysbuild>
    </modificationset>
    <schedule interval="86400"> <!-- in seconds; 86400: 1 day -->
      <ant buildfile="/home/ccontrol/svn/code/test-builderplugin/build.xml" target="main-cc" antworkingdir="/home/ccontrol/svn/code/test-builderplugin" antscript="/usr/bin/ant" usedebug="false" uselogger="false" timeout="3600"></ant>
    </schedule>
    <log>
      <merge dir="/home/ccontrol/pluginbuilder/test-builderplugin/results/testresults/xml" pattern="testReport*.xml"></merge>
    </log>
    <labelincrementer defaultlabel="1.0" prebuildincrementer="true"></labelincrementer>
    <publishers>
      <htmlemail buildresultsurl="http://sdqweb.ipd.uka.de/cruisecontrol/buildresults/PCM%20test%20build" mailhost="smtp.ira.uni-karlsruhe.de" reportsuccess="fixes" returnname="Cruiscontrol Build" subjectprefix="[CruiseControl]: " spamwhilebroken="false" failasimportant="true" returnaddress="webmaster-sdq@ipd.uka.de">
        <always address="krogmann@ira.uka.de"></always>
      </htmlemail>
      <!-- <xsltlogpublisher directory="/home/ccontrol/pluginbuilder/test-builderplugin/results/testresults/html" xsltfile="/usr/local/cruisecontrol/cruisecontrol-bin-2.7.3/webapps/cruisecontrol/xsl/buildresults.xsl" outfilename="buildlog.html"></xsltlogpublisher> -->
      <!-- <onsuccess>
<antpublisher antscript="/usr/bin/ant" antworkingdir="/home/ccontrol/pluginbuilder/test-builderplugin" buildfile="/home/ccontrol/svn/code/test-builderplugin/upload.xml" uselogger="true" usedebug="false" target="upload">
    </antpublisher>
      </onsuccess> -->
      <!-- <onfailure>
	<antpublisher antscript="/usr/bin/ant" antworkingdir="/home/ccontrol/pluginbuilder/test-builderplugin" buildfile="/home/ccontrol/svn/code/test-builderplugin/upload-on-fail.xml" uselogger="true" usedebug="false" target="upload">
       </antpublisher>
      </onfailure> -->
    </publishers>
    <bootstrappers>
      <svnbootstrapper username="cruisecontrol" password="obREaglAkEmhaDwl" localworkingcopy="/home/ccontrol/svn/code/test-builderplugin"></svnbootstrapper>
    </bootstrappers>
    <listeners></listeners>
  </project>  

</cruisecontrol>
