<%@ CodeTemplate Language="C#" TargetLanguage="C#"
      Description="Generates a Service Effect Automaton used to 
      predict the performance of the generated cache adaptor." %>
      
<%@ Property Name="CacheHitProbability" Type="Single"
      Category="Service Effect Automaton" 
      Description="The probability of a cache hit." %>      

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ServiceEffectAutomaton SYSTEM "XmlSeffParser.dtd">
<ServiceEffectAutomaton>
        <statelist startstate="CacheInvoked">
        <state>
                <name>CacheInvoked</name>
                <time_consumption percentile="100" time="0"></time_consumption>
        </state>
        <state isFinalState="true">
                <name>finalstate</name>
        </state>
        </statelist>
        <inputlist>
                <input>InvokeService</input>
                <input>NoInvocation</input>
        </inputlist>
        <transitionlist>
                        <transition>
                                <sourcestate>CacheInvoked</sourcestate>
                                <input>InvokeService</input>
                                <destinationstate>finalstate</destinationstate>
                                <probability><%=1-CacheHitProbability %></probability>
                                <time_consumption percentile="40" time="5"></time_consumption>
                                <time_consumption percentile="60" time="8"></time_consumption>
                                <time_consumption percentile="100" time="10"></time_consumption>
                        </transition>
        <transition>
                <sourcestate>CacheInvoked</sourcestate>
                <input>NoInvocation</input>
                <destinationstate>finalstate</destinationstate>
                <probability><%=CacheHitProbability %></probability>
                <time_consumption percentile="100" time="0"></time_consumption>
        </transition>
        </transitionlist>
</ServiceEffectAutomaton>
