<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.uka.ipd.sdq.edp2.ui.category"
            class="de.uka.ipd.sdq.edp2.ui.views.navigator.Navigator"
            id="de.uka.ipd.sdq.edp2.ui.navigatorView"
            name="Experiments">
      </view>
      <category
            id="de.uka.ipd.sdq.edp2.ui.category"
            name="EDP2">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uka.ipd.sdq.edp2.ui.perspective.Perspective"
            id="de.uka.ipd.sdq.edp2.ui.perspective"
            name="EDP2">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.uka.ipd.sdq.edp2.ui.category.dataSources"
            defaultHandler="de.uka.ipd.sdq.edp2.ui.wizards.datasource.OpenDataSourceHandler"
            description="Opens or creates a new data source and adds it to the experiment view."
            id="de.uka.ipd.sdq.edp2.ui.command.OpenDataSource"
            name="Add Data Source">
      </command>
      <category
            id="de.uka.ipd.sdq.edp2.ui.category.dataSources"
            name="Data Sources">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:de.uka.ipd.sdq.edp2.ui.navigatorView">
         <command
               commandId="de.uka.ipd.sdq.edp2.ui.command.OpenDataSource"
               label="Open Data Source"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
