<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/SEFF/1.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.RepositoryEditorSeffEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.RepositoryEditorResourceDemandingSEFFAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.ResourceDemandingSEFF_3102">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/SEFF/1.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.SeffEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.ResourceDemandingSEFFAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.seff.ResourceDemandingSEFF_1000">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://sdq.ipd.uka.de/PalladioComponentModel/Repository/1.0">
         <adviceBinding 
               class="de.uka.ipd.sdq.pcm.gmf.repository.helper.BasicComponentEditHelperAdvice"
               id="de.uka.ipd.sdq.pcm.gmf.repository.BasicComponentAdvice"
               inheritance="all"
               typeId="de.uka.ipd.sdq.pcm.gmf.repository.BasicComponent_2102">
         </adviceBinding>
      </metamodel>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext id="PCM SEFF ModelClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uka.ipd.sdq.PCMBench.editingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="PCM SEFF ModelClientContext">
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.BasicComponentAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.RepositoryEditorResourceDemandingSEFFAdvice">
         </advice>
         <advice
               ref="de.uka.ipd.sdq.pcm.gmf.repository.ResourceDemandingSEFFAdvice">
         </advice>
       </binding>
   </extension>

</plugin>
