<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sdq.ipd.uka.de/ByBench/1.0"
            class="de.uka.ipd.sdq.ByBench.ByBenchPackage"
            genModel="model/ByBench.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="bybench"
            class="de.uka.ipd.sdq.ByBench.util.ByBenchResourceFactoryImpl"/>
   </extension>

</plugin>
