#Mon Jul 30 22:36:44 CEST 2007
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
autotestsuite.trace=true
pluginbuilder.features=de.uka.ipd.sdq.probfunction.feature,de.uka.ipd.sdq.pcm.feature,de.uka.ipd.sdq.pcm.diagram.feature,de.uka.ipd.sdq.sensorframework.feature,de.uka.ipd.sdq.sensorframework.visualisation.feature,de.uka.ipd.sdq.simucom.feature,de.uka.ipd.sdq.tests
autotestsuite.class.inclusions=.*
pluginbuilder.is.svn=true
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=svn\://i43pc13.ipd.uka.de/code
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.password=eQFAyX
pluginbuilder.svn.user=steffen
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
pluginbuilder.is.server=true
eclipse.download.cache=/home/steffen/downloadCache
