<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	   <extension
	         point="org.eclipse.ui.views">
	      <category
	            name="SimuBench Category"
	            id="de.uka.ipd.sdq.codegen.simudatavisualization">
	      </category>
	      <view
	            name="Experiments View"
	            icon="icons/app_simucim.gif"
	            category="de.uka.ipd.sdq.codegen.simudatavisualization"
	            class="de.uka.ipd.sdq.sensorframework.visualisation.views.ExperimentsView"
	            id="de.uka.ipd.sdq.codegen.simudatavisualization.ExperimentsView">
	      </view>
	   </extension>
		   <extension
		         point="org.eclipse.ui.perspectives">
		     	 <perspective
		            class="de.uka.ipd.sdq.sensorframework.visualisation.perspective.SimuBenchPerspective"
		            fixed="false"
		            icon="icons/app_simucim.gif"
		            id="de.uka.ipd.sdq.codegen.simudatavisualization.SimuBenchPerspective"
		            name="SimuBench"/>
		   </extension>
	    <extension
	          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
	       <propertyContributor
              contributorId="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView"
              labelProvider="de.uka.ipd.sdq.sensorframework.visualisation.tabs.TabbedLabelProvider"
              typeMapper="de.uka.ipd.sdq.sensorframework.visualisation.tabs.PropertyTypeMapper">
		       		<propertyCategory category="sensors"/>
	       </propertyContributor>
	    </extension>
	    
	    <extension
	          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	       <propertyTabs 
	       		contributorId="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView">
	       		<propertyTab
	            	category="sensors"
	               	id="SensorsTab"
	            	label="Sensors"/>
	       </propertyTabs>
	   </extension>
	   <extension
	          point="org.eclipse.ui.views.properties.tabbed.propertySections">
	       <propertySections contributorId="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView">
	          <propertySection
                 class="de.uka.ipd.sdq.sensorframework.visualisation.tabs.SensorsPropertySection"
                 filter="de.uka.ipd.sdq.sensorframework.visualisation.tabs.TabFilter"
                 id="SensorsSection"
                 tab="SensorsTab">
           </propertySection>
	      </propertySections>
	   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:org.eclipse.ui.main.menu?before=window">
            <menu
                  id="de.uka.ipd.sdq.codegen.simudatavisualisation.visualisationsMenu"
                  label="Visualisations"
                  mnemonic="V"
                  tooltip="Visualisations">
            <dynamic
                  class="de.uka.ipd.sdq.sensorframework.visualisation.menu.VisualisationMenuItemContributions"
                  id="de.uka.ipd.sdq.codegen.simudatavisualization.visualisationMenuItems">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="de.uka.ipd.sdq.codegen.simudatavisualization.perspectiveTester.currentPerspective"
                     value="de.uka.ipd.sdq.codegen.simudatavisualization.SimuBenchPerspective">
               </test>
            </visibleWhen>
            </menu>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="de.uka.ipd.sdq.sensorframework.visualisation.perspective.PerspectivePropertyTester"
               id="de.uka.ipd.sdq.codegen.simudatavisualization.perspectiveTester"
               namespace="de.uka.ipd.sdq.codegen.simudatavisualization.perspectiveTester"
               properties="currentPerspective"
               type="java.lang.Object">
         </propertyTester>
      </extension>
</plugin>
