<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 (c) 2008 SDQ, Universität Karlsruhe (TH), Germany

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sdq.ipd.uka.de/FeatureModel/2.0"
            class="featuremodel.FeaturemodelPackage"
            genModel="model/featuremodel.genmodel"/>
   </extension>

</plugin>
