<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="PCM Wizards Toolbar"
            id="de.uka.ipd.sdq.pcm.gfm.toolbar.actionSet"
            label="PCM Wizards"
            visible="true">
         <action
               label="New &amp;Usage Diagram"
               icon="icons/NewUsageFile.gif"
               class="de.uka.ipd.sdq.pcm.gmf.toolbar.actions.NewUsageDiagramAction"
               tooltip="Create a new Usage Model and Diagram from scratch."
               toolbarPath="newDiagramGroup"
               id="de.uka.ipd.sdq.pcm.gfm.toolbar.actions.NewUsageDiagramActionID">
         </action>
         <action
               label="New &amp;Allocation Diagram"
               icon="icons/NewAllocationFile.gif"
               class="de.uka.ipd.sdq.pcm.gmf.toolbar.actions.NewAllocationDiagramAction"
               tooltip="Create a new Allocation Model and Diagram from scratch."
               toolbarPath="newDiagramGroup"
               id="de.uka.ipd.sdq.pcm.gfm.toolbar.actions.NewAllocationDiagramActionID">
         </action>
         <action
               class="de.uka.ipd.sdq.pcm.gmf.toolbar.actions.NewResourceDiagramAction"
               icon="icons/NewResourceFile.gif"
               id="de.uka.ipd.sdq.pcm.gfm.toolbar.actions.NewResourceDiagramActionID"
               label="New &amp;Resource Diagram"
               toolbarPath="newDiagramGroup"
               tooltip="Create a new Resource Model from scratch.">
         </action>
         <action
               label="New &amp;Composite Diagram"
               icon="icons/NewCompositeFile.gif"
               class="de.uka.ipd.sdq.pcm.gmf.toolbar.actions.NewCompositeDiagramAction"
               tooltip="Create a new System Model and Diagram from scratch."
               toolbarPath="newDiagramGroup"
               id="de.uka.ipd.sdq.pcm.gfm.toolbar.actions.NewCompositeDiagramActionID">
         </action>
         <action
               label="New &amp;Repository Diagram"
               icon="icons/NewRepositoryFile.gif"
               class="de.uka.ipd.sdq.pcm.gmf.toolbar.actions.NewRepositoryDiagramAction"
               tooltip="Create a new Repository Model and Diagram from scratch."
               toolbarPath="newDiagramGroup"
               id="de.uka.ipd.sdq.pcm.gfm.toolbar.actions.NewRepositoryDiagramActionID">
         </action>
          <action
               class="de.uka.ipd.sdq.pcm.gmf.toolbar.actions.InitializeUsageDiagramAction"
               enablesFor="1"
               icon="icons/UsageDiagramFile.gif"
               id="de.uka.ipd.sdq.pcm.gfm.toolbar.actions.InitializeUsageDiagramActionID"
               label="Initialize &amp;Usage Diagram"
               toolbarPath="initializeDiagramGroup"
               tooltip="Initialize a new Usage Diagram from the selected usage.">
               <selection
                    class="org.eclipse.core.resources.IFile"
                  	name="*.usagemodel">
               </selection>  
         </action>
          <action
               class="de.uka.ipd.sdq.pcm.gmf.toolbar.actions.InitializeAllocationDiagramAction"
               enablesFor="1"
               icon="icons/AllocationDiagramFile.gif"
               id="de.uka.ipd.sdq.pcm.gfm.toolbar.actions.InitializeAllocationDiagramActionID"
               label="Initialize &amp;Allocation Diagram"
               toolbarPath="initializeDiagramGroup"
               tooltip="Initialize a new Allocation Diagram from the selected allocation.">
               <selection
                    class="org.eclipse.core.resources.IFile"
                  	name="*.allocation">
               </selection>  
         </action>
          <action
               class="de.uka.ipd.sdq.pcm.gmf.toolbar.actions.InitializeCompositeDiagramAction"
               enablesFor="1"
               icon="icons/CompositeDiagramFile.gif"
               id="de.uka.ipd.sdq.pcm.gfm.toolbar.actions.InitializeCompositeDiagramActionID"
               label="Initialize &amp;Composite Diagram"
               toolbarPath="initializeDiagramGroup"
               tooltip="Initialize a new Composite Diagram from the selected system or repository.">
               <selection
                    class="org.eclipse.core.resources.IFile"
                  	name="*.system">
               </selection>  
               <selection
                    class="org.eclipse.core.resources.IFile"
                  	name="*.repository">
               </selection>  
         </action>
         <action
               class="de.uka.ipd.sdq.pcm.gmf.toolbar.actions.InitializeSeffDiagramAction"
               enablesFor="1"
               icon="icons/SeffDiagramFile.gif"
               id="de.uka.ipd.sdq.pcm.gfm.toolbar.actions.InitializeSeffDiagramActionID"
               label="Initialize &amp;Seff Diagram"
               toolbarPath="initializeDiagramGroup"
               tooltip="Initialize a new Seff Diagram from the selected repository.">
               <selection
                    class="org.eclipse.core.resources.IFile"
                  	name="*.repository">
               </selection>  
         </action>
          <action
               class="de.uka.ipd.sdq.pcm.gmf.toolbar.actions.InitializeRepositoryDiagramAction"
               enablesFor="1"
               icon="icons/RepositoryDiagramFile.gif"
               id="de.uka.ipd.sdq.pcm.gfm.toolbar.actions.InitializeRepositoryDiagramActionID"
               label="Initialize &amp;Repository Diagram"
               toolbarPath="initializeDiagramGroup"
               tooltip="Initialize a new Repository Diagram from the selected repository.">
               <selection
                    class="org.eclipse.core.resources.IFile"
                  	name="*.repository">
               </selection>  
         </action>
      </actionSet>
   </extension>

</plugin>
