<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sdq.ipd.uka.de/Sensitivity/1.0"
            class="de.uka.ipd.sdq.sensitivity.SensitivityPackage"
            genModel="model/sensitivity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="sensitivity"
            class="de.uka.ipd.sdq.sensitivity.util.SensitivityResourceFactoryImpl"/>
   </extension>

</plugin>
