<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.validation.presentation.ValidationModelWizardID"
            name="%_UI_ValidationModelWizard_label"
            class="de.fzi.se.validation.presentation.ValidationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ValidationModelFile.gif">
         <description>%_UI_ValidationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.validation.presentation.ValidationEditorID"
            name="%_UI_ValidationEditor_label"
            icon="icons/full/obj16/ValidationModelFile.gif"
            extensions="validation"
            class="de.fzi.se.validation.presentation.ValidationEditor"
            contributorClass="de.fzi.se.validation.presentation.ValidationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.validation.qualityannotation.presentation.QualityannotationModelWizardID"
            name="%_UI_QualityannotationModelWizard_label"
            class="de.fzi.se.validation.qualityannotation.presentation.QualityannotationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QualityannotationModelFile.gif">
         <description>%_UI_QualityannotationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.validation.qualityannotation.presentation.QualityannotationEditorID"
            name="%_UI_QualityannotationEditor_label"
            icon="icons/full/obj16/QualityannotationModelFile.gif"
            extensions="qualityannotation"
            class="de.fzi.se.validation.qualityannotation.presentation.QualityannotationEditor"
            contributorClass="de.fzi.se.validation.qualityannotation.presentation.QualityannotationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.validation.parameters.presentation.ParametersModelWizardID"
            name="%_UI_ParametersModelWizard_label"
            class="de.fzi.se.validation.parameters.presentation.ParametersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ParametersModelFile.gif">
         <description>%_UI_ParametersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.validation.parameters.presentation.ParametersEditorID"
            name="%_UI_ParametersEditor_label"
            icon="icons/full/obj16/ParametersModelFile.gif"
            extensions="parameters"
            class="de.fzi.se.validation.parameters.presentation.ParametersEditor"
            contributorClass="de.fzi.se.validation.parameters.presentation.ParametersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.validation.parameters.pcm.presentation.PcmModelWizardID"
            name="%_UI_PcmModelWizard_label"
            class="de.fzi.se.validation.parameters.pcm.presentation.PcmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PcmModelFile.gif">
         <description>%_UI_PcmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.validation.parameters.pcm.presentation.PcmEditorID"
            name="%_UI_PcmEditor_label"
            icon="icons/full/obj16/PcmModelFile.gif"
            extensions="pcm"
            class="de.fzi.se.validation.parameters.pcm.presentation.PcmEditor"
            contributorClass="de.fzi.se.validation.parameters.pcm.presentation.PcmActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.validation.testbased.presentation.TestbasedModelWizardID"
            name="%_UI_TestbasedModelWizard_label"
            class="de.fzi.se.validation.testbased.presentation.TestbasedModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TestbasedModelFile.gif">
         <description>%_UI_TestbasedModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.validation.testbased.presentation.TestbasedEditorID"
            name="%_UI_TestbasedEditor_label"
            icon="icons/full/obj16/TestbasedModelFile.gif"
            extensions="testbased"
            class="de.fzi.se.validation.testbased.presentation.TestbasedEditor"
            contributorClass="de.fzi.se.validation.testbased.presentation.TestbasedActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.validation.testbased.results.presentation.ResultsModelWizardID"
            name="%_UI_ResultsModelWizard_label"
            class="de.fzi.se.validation.testbased.results.presentation.ResultsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ResultsModelFile.gif">
         <description>%_UI_ResultsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.validation.testbased.results.presentation.ResultsEditorID"
            name="%_UI_ResultsEditor_label"
            icon="icons/full/obj16/ResultsModelFile.gif"
            extensions="results"
            class="de.fzi.se.validation.testbased.results.presentation.ResultsEditor"
            contributorClass="de.fzi.se.validation.testbased.results.presentation.ResultsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.se.validation.testbased.trace.presentation.TraceModelWizardID"
            name="%_UI_TraceModelWizard_label"
            class="de.fzi.se.validation.testbased.trace.presentation.TraceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TraceModelFile.gif">
         <description>%_UI_TraceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.fzi.se.validation.testbased.trace.presentation.TraceEditorID"
            name="%_UI_TraceEditor_label"
            icon="icons/full/obj16/TraceModelFile.gif"
            extensions="trace"
            class="de.fzi.se.validation.testbased.trace.presentation.TraceEditor"
            contributorClass="de.fzi.se.validation.testbased.trace.presentation.TraceActionBarContributor">
      </editor>
   </extension>

</plugin>
