<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.kit.ipd.sdq.simcomp.middleware.simulationComponent">
      <simulation_component
            id="edu.kit.ipd.sdq.eventsim.system"
            name="System Simulation Component (EventSim)"
            type_id="edu.kit.ipd.sdq.simcomp.system">
      </simulation_component>
   </extension>

</plugin>
