<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
Copyright 2007, IPD, SDQ, University of Karlsruhe
-->
<plugin>
   <!-- Visual IDs of edit parts which are overriden should be added here, and in the CustomPalladioComponentModelEditPartFactory -->
   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <editpartProvider class="de.uka.ipd.sdq.pcm.gmf.composite.custom.providers.CustomPalladioComponentModelEditPartProvider">
         <Priority name="Low"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="PCM Composite Model"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2002,3006,3007,3008,3011,3012,3013,3014,3015,3016,3017"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4007,4010"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="0"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7002,0"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>
   <!-- "Delete from model" actions should not be possible for roles attached to an assembly context, so remove them from the context menu. -->
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="true"
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider">
         <Priority
               name="Low">
         </Priority>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  objectClass="de.uka.ipd.sdq.pcm.gmf.composite.custom.edit.parts.CustomOperationProvidedRoleEditPart(de.uka.ipd.sdq.pcm.gmf.composite.custom)">
            </popupStructuredContributionCriteria>
            <popupStructuredContributionCriteria
                  objectClass="de.uka.ipd.sdq.pcm.gmf.composite.edit.parts.OperationRequiredRoleEditPart(de.uka.ipd.sdq.pcm.gmf.composite)">
            </popupStructuredContributionCriteria>
            <popupStructuredContributionCriteria
                  objectClass="de.uka.ipd.sdq.pcm.gmf.composite.edit.parts.InfrastructureProvidedRoleEditPart(de.uka.ipd.sdq.pcm.gmf.composite)">
            </popupStructuredContributionCriteria>
            <popupStructuredContributionCriteria
                  objectClass="de.uka.ipd.sdq.pcm.gmf.composite.edit.parts.InfrastructureRequiredRoleEditPart(de.uka.ipd.sdq.pcm.gmf.composite)">
            </popupStructuredContributionCriteria>
            <popupStructuredContributionCriteria
                  objectClass="de.uka.ipd.sdq.pcm.gmf.composite.edit.parts.SourceRoleEditPart(de.uka.ipd.sdq.pcm.gmf.composite)">
            </popupStructuredContributionCriteria>
            <popupStructuredContributionCriteria
                  objectClass="de.uka.ipd.sdq.pcm.gmf.composite.edit.parts.SinkRoleEditPart(de.uka.ipd.sdq.pcm.gmf.composite)">
            </popupStructuredContributionCriteria>
            <popupPredefinedItem
                  id="deleteFromDiagramAction"
                  path="/editGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="deleteFromModelAction"
                  path="/editGroup"
                  remove="true">
            </popupPredefinedItem>
         </popupContribution>
      </contributionItemProvider>
   </extension>
   <!-- Copy/Paste actions should not be possible for roles attached to an assembly context. -->
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="DataflowRender">
         <Priority name="Lowest"/>
         <ViewId id="de.uka.ipd.sdq.pcm.gmf.composite.part.PalladioComponentModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
               <GlobalActionId
                     actionId="deleteFromModel">
               </GlobalActionId>
            </ElementType>
         </ViewId>
         <Policy
               class="de.uka.ipd.sdq.pcm.gmf.composite.custom.policies.CopyPasteProviderPolicy">
         </Policy>
      </GlobalActionHandlerProvider>
   </extension>
   <!-- Action "Edit > Duplicate" should not be possible for roles attached to an assembly context. -->
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.actionFilterProviders">
      <ActionFilterProvider
            class="de.uka.ipd.sdq.pcm.gmf.composite.custom.actions.DuplicateActionFilterProvider">
         <Priority
               name="Low">
         </Priority>
         <Attribute
               name="canDuplicate"
               value="enablement">
         </Attribute>
         <Policy
               class="de.uka.ipd.sdq.pcm.gmf.composite.custom.policies.DuplicateActionFilterProviderPolicy">
         </Policy>
      </ActionFilterProvider>
   </extension>
</plugin>
