<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.fzi.de/ValidationEffortEstimation/SPT/0.5"
            class="de.fzi.se.validation.effort.estimation.spt.SPTPackage"
            genModel="model/ValidationEffortEstimation_SPT.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="spt"
            class="de.fzi.se.validation.effort.estimation.spt.util.SPTResourceFactoryImpl"/>
   </extension>

</plugin>
