<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="edu.kit.ipd.sdq.simcomp.ui.SimulationComponentLaunchConfigurationTabGroup"
            id="edu.kit.ipd.sdq.simcomp.ui.launchConfigurationTabGroup"
            type="edu.kit.ipd.sdq.simcomp.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.uka.ipd.sdq.codegen.simucontroller.runconfig.SimulationWorkflowLauncher"
            id="edu.kit.ipd.sdq.simcomp.launchConfigurationType"
            modes="run, debug"
            name="SimuBench (Simulation Components)"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="edu.kit.ipd.sdq.simcomp.launchConfigurationType"
            icon="icons/app_simcomp.gif"
            id="edu.kit.ipd.sdq.simcomp.launchConfigurationType.image">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
