<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uka.ipd.sdq.featureinstance.FeatureModelInstanceEditor"
            contributorClass="de.uka.ipd.sdq.featureinstance.FeatureModelInstanceContributor"
            extensions="featureconfig, featuremodel"
            icon="icons/featureconfigModelFile.gif"
            id="de.uka.ipd.sdq.featureinstance.FeatureModelInstanceEditor"
            name="FeatureModelInstance Editor">
      </editor>
   </extension>
   
   
</plugin>
