<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	   <extension
	         point="org.eclipse.ui.views">
	      <category
	            name="SimuBench Category"
	            id="de.uka.ipd.sdq.codegen.simudatavisualization">
	      </category>
	      <view
	            name="Experiments View"
	            icon="icons/app_simucim.gif"
	            category="de.uka.ipd.sdq.codegen.simudatavisualization"
	            class="de.uka.ipd.sdq.codegen.simudatavisualization.views.ExperimentsView"
	            id="de.uka.ipd.sdq.codegen.simudatavisualization.ExperimentsView">
	      </view>
	      <view
	            category="de.uka.ipd.sdq.codegen.simudatavisualization"
	            class="de.uka.ipd.sdq.codegen.simudatavisualization.views.ReportView"
	            icon="icons/app_simucim.gif"
	            id="de.uka.ipd.sdq.codegen.simudatavisualization.ReportView"
	            name="Report View"/>
	   </extension>
		   <extension
		         point="org.eclipse.ui.perspectives">
		     	 <perspective
		            class="de.uka.ipd.sdq.codegen.simudatavisualization.perspective.SimuBenchPerspective"
		            fixed="false"
		            icon="icons/app_simucim.gif"
		            id="de.uka.ipd.sdq.codegen.simudatavisualization.SimuBenchPerspective"
		            name="SimuBench"/>
		   </extension>
	    <extension
	          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
	       <propertyContributor
	             contributorId="de.uka.ipd.sdq.codegen.simudatavisualization.ReportView"
	             labelProvider="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.PropertyLabelProvider"
	             typeMapper="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.PropertyTypeMapper">
		       		<propertyCategory category="sensors"/>
		         	<propertyCategory category="configuration"/>
	       </propertyContributor>
	    </extension>
	    
	    <extension
	          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	       <propertyTabs 
	       		contributorId="de.uka.ipd.sdq.codegen.simudatavisualization.ReportView">
	       		<propertyTab
	            	category="sensors"
	               	id="SensorsTab"
	            	label="Sensors"/>
	        	<propertyTab
	                afterTab="SensorsTab"
	                category="sensors"
	                id="ConfTab"
	                label="Configuration"/>
	       </propertyTabs>
	   </extension>
	   <extension
	          point="org.eclipse.ui.views.properties.tabbed.propertySections">
	       <propertySections contributorId="de.uka.ipd.sdq.codegen.simudatavisualization.ReportView">
	          <propertySection
                 class="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.SensorsPropertySection"
                 filter="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.TabFilter"
                 id="SensorsSection"
                 tab="SensorsTab">
           </propertySection>
	          <propertySection
	                class="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.ConfPropertySection"
	                filter="de.uka.ipd.sdq.codegen.simudatavisualization.tabs.TabFilter"
	                id="ConfSection"
	                tab="ConfTab">
	         </propertySection>
	      </propertySections>
	   </extension>
      <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="birttest.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;CallDialog Action"
               icon="icons/configure.gif"
               class="de.uka.ipd.sdq.codegen.simudatavisualization.actions.CallChartDialogAction"
               tooltip="It is a test Birt Chart!!"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="birttest.actions.SampleAction">
         </action>
         <action
               label="&amp;CreateChart Action"
               icon="icons/string.gif"
               class="de.uka.ipd.sdq.codegen.simudatavisualization.actions.CreateChartAction"
               tooltip="Create Chart!!"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="birttest.actions.CreateChartAction">
         </action>
      </actionSet>
   </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="de.uka.ipd.sdq.codegen.simudatavisualization.editors.ReportsEditor"
               contributorClass="de.uka.ipd.sdq.codegen.simudatavisualization.editors.ReportsEditorContributor"
               default="true"
               extensions="mpe"
               icon="icons/sample.gif"
               id="de.uka.ipd.sdq.codegen.simudatavisualization.editors.ReportsEditor"
               name="Reports Multi-page Editor">
         </editor>
      </extension>
</plugin>
