<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.capra.presentation.CapraModelWizardID"
      name = "%_UI_CapraModelWizard_label"
      class = "de.uka.ipd.sdq.capra.presentation.CapraModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/CapraModelFile.gif">
      <description>%_UI_CapraModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.capra.presentation.CapraEditorID"
        name = "%_UI_CapraEditor_label"
        icon = "icons/full/obj16/CapraModelFile.gif"
        extensions = "capra"
        class = "de.uka.ipd.sdq.capra.presentation.CapraEditor" 
        contributorClass="de.uka.ipd.sdq.capra.presentation.CapraActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.capra.core.presentation.CoreModelWizardID"
      name = "%_UI_CoreModelWizard_label"
      class = "de.uka.ipd.sdq.capra.core.presentation.CoreModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/CoreModelFile.gif">
      <description>%_UI_CoreModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.capra.core.presentation.CoreEditorID"
        name = "%_UI_CoreEditor_label"
        icon = "icons/full/obj16/CoreModelFile.gif"
        extensions = "core"
        class = "de.uka.ipd.sdq.capra.core.presentation.CoreEditor" 
        contributorClass="de.uka.ipd.sdq.capra.core.presentation.CoreActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.capra.resources.presentation.ResourcesModelWizardID"
      name = "%_UI_ResourcesModelWizard_label"
      class = "de.uka.ipd.sdq.capra.resources.presentation.ResourcesModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ResourcesModelFile.gif">
      <description>%_UI_ResourcesModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.capra.resources.presentation.ResourcesEditorID"
        name = "%_UI_ResourcesEditor_label"
        icon = "icons/full/obj16/ResourcesModelFile.gif"
        extensions = "resources"
        class = "de.uka.ipd.sdq.capra.resources.presentation.ResourcesEditor" 
        contributorClass="de.uka.ipd.sdq.capra.resources.presentation.ResourcesActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.capra.schedulers.presentation.SchedulersModelWizardID"
      name = "%_UI_SchedulersModelWizard_label"
      class = "de.uka.ipd.sdq.capra.schedulers.presentation.SchedulersModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/SchedulersModelFile.gif">
      <description>%_UI_SchedulersModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.capra.schedulers.presentation.SchedulersEditorID"
        name = "%_UI_SchedulersEditor_label"
        icon = "icons/full/obj16/SchedulersModelFile.gif"
        extensions = "schedulers"
        class = "de.uka.ipd.sdq.capra.schedulers.presentation.SchedulersEditor" 
        contributorClass="de.uka.ipd.sdq.capra.schedulers.presentation.SchedulersActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.capra.measurement.presentation.MeasurementModelWizardID"
      name = "%_UI_MeasurementModelWizard_label"
      class = "de.uka.ipd.sdq.capra.measurement.presentation.MeasurementModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/MeasurementModelFile.gif">
      <description>%_UI_MeasurementModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.capra.measurement.presentation.MeasurementEditorID"
        name = "%_UI_MeasurementEditor_label"
        icon = "icons/full/obj16/MeasurementModelFile.gif"
        extensions = "measurement"
        class = "de.uka.ipd.sdq.capra.measurement.presentation.MeasurementEditor" 
        contributorClass="de.uka.ipd.sdq.capra.measurement.presentation.MeasurementActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.capra.extension.presentation.ExtensionModelWizardID"
      name = "%_UI_ExtensionModelWizard_label"
      class = "de.uka.ipd.sdq.capra.extension.presentation.ExtensionModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ExtensionModelFile.gif">
      <description>%_UI_ExtensionModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.capra.extension.presentation.ExtensionEditorID"
        name = "%_UI_ExtensionEditor_label"
        icon = "icons/full/obj16/ExtensionModelFile.gif"
        extensions = "extension"
        class = "de.uka.ipd.sdq.capra.extension.presentation.ExtensionEditor" 
        contributorClass="de.uka.ipd.sdq.capra.extension.presentation.ExtensionActionBarContributor" >
    </editor>
  </extension>    
</plugin>
