<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Signatures template" %>
<%@ Property Name="ContainedSignatureType" Type="System.String" Category="Context" Description="The type of the signatures in the SignatureList" %>
<%@ Property Name="InterfaceDescription" Type="System.String" Category="Context" Description="Name of the interface to generate" %>
<%@ Property Name="ListItemProperty"  Type="System.String" Category="Context" Description="Name of the item in the list" %>
	/// <summary>
	/// A ProtocolIModel is an extension of a SignatureListModel. In
	/// addition to the list of services it describes the set of all possible
	/// call sequences of these services using a finite state machine 
	/// called protocol. The language accepted by the protocol
	/// represents the possible call sequences.
	/// </summary>
	public interface IFSM<%= InterfaceDescription %> : ICloneable, IAttributable, IVisitable, IAuxiliary<%= InterfaceDescription%>Specification
	{
		/// <summary>
		/// A Protocol describing
		/// the possible call sequences of the services.
		/// </summary>
		IFiniteStateMachine FSM
		{
			get;
		}

		/// <summary>
		/// A Protocol describing
		/// the possible call sequences of the services.
		/// </summary>
		IEditableFiniteStateMachine EditFSM
		{
			get;
		}
		
		/// <summary>
		/// Return the items which can be used as input alphabeth for the FSM
		/// </summary>
		<%= ContainedSignatureType %>[] <%= ListItemProperty %> 
		{
			get;
		}
		
	}

