<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "file:/C:/Program%20Files/LQN%20Solvers/lqn-core.xsd" 
       class = "LqnCore.LqnCorePackage"
       genModel = "model/lqn.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="lqncore" 
       class="LqnCore.util.LqnCoreResourceFactoryImpl" />
  </extension>

</plugin>
