<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension point="org.eclipse.ui.intro">
  	<intro class="org.eclipse.ui.intro.config.CustomizableIntroPart" icon="icons/palladio-logo.gif" id="org.palladiosimulator.pcmbench.intro" /> 
  	<introProductBinding introId="org.palladiosimulator.pcmbench.intro" productId="org.eclipse.sdk.ide" /> 
  </extension>
  <extension point="org.eclipse.ui.intro.config">
  	<config introId="org.palladiosimulator.pcmbench.intro" content="introContent.xml" id="org.palladiosimulator.pcmbench.configId">
  		<presentation home-page-id="root">
  			<implementation kind="html" os="win32,linux,macosx" /> 
  		</presentation>
  	</config>
  </extension>
  <extension point="org.eclipse.help.toc">
	<toc file="toc.xml" primary="true" /> 
  	<toc file="tocgettingstarted.xml" /> 
  	<toc file="tocreference.xml" /> 
  	<toc file="tocsamples.xml" /> 
  </extension>
  <extension
        point="org.eclipse.help.contexts">
     <contexts
           file="contexts.xml" plugin="org.palladiosimulator.pcm.help">
     </contexts>
  </extension>
  <extension
        point="org.eclipse.ui.intro.configExtension">
     <configExtension
           configId="org.eclipse.ui.intro.universalConfig"
           content="intro/pcm.xml">
     </configExtension>
  </extension>
</plugin>
