<%@ CodeTemplate Src="CSLAHelper.cs" Inherits="CSLAHelper" Language="C#" TargetLanguage="C#" Description="Generates a CSLA Custom Code Class." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="CollectionName" Type="System.String" Optional="true" Default="" Category="1. Common Required Template Options" Description="Required - The Name of the Business Object Collection to Generate." %>
<%@ Property Name="IsCollectionCode" Type="System.Boolean" Optional="false" Default="false" Category="3. Collection Business Object" Description="Insert the code for the AllowSorting = True in constructor. In the Custom Code collecion class." %>
<% HiddenCollectionName = CollectionName; %>
<%-- Generic Variables for code to use  --%>
<% int i = 0; %>
<% ColumnSchemaCollection PKs = RootTable.PrimaryKey.MemberColumns; %>
<% ColumnSchemaCollection NPKs = RootTable.NonPrimaryKeyColumns; %> 
<% int PKOrd = PKs.Count - 1; %>
<% int OrdinalColCount = RootTable.Columns.Count - 1; %> 
<%=Level(i,false)%>using System;
<%=Level(i,false)%>using System.Data;
<%=Level(i,false)%>using System.Data.SqlClient;
<%=Level(i,false)%>using CSLA;
<%=Level(i,false)%>using CSLA.Data;

<% if (ClassNamespace != null && ClassNamespace.Length > 0) { %>namespace <%= ClassNamespace %>
<%=Level(i++,false)%>{ 
<% } %> 
<%=Level(i,false)%>/// <summary> 
<%=Level(i,false)%>/// This business object represents the properties and methods of the <%= RootTable %> Table. 
<%=Level(i,false)%>/// It corresponds to the Custom Code Class as outlined in the CSLA Newsgroup(s) to support the BaseClass -> Class Framework."
<%=Level(i,false)%>/// Object was generated on <%= DateTime.Now.ToString() %> - By <%=Environment.UserName %> 
<%=Level(i,false)%>/// </summary> 
<%=Level(i,false)%>/// <remarks> 
<%=Level(i,false)%>/// Parameters used to generate this class.
<%=Level(i,false)%>/// Business Object
<%=Level(i,false)%>///		ClassNamespace      = <%= ClassNamespace %>
<%=Level(i,false)%>///		CollectionName      = <%= CollectionName %>
<%=Level(i,false)%>///		ObjectName          = <%= GetCustomClassName %>
<%=Level(i,false)%>///		RootTable           = <%= RootTable.Database.Name %>.<%= RootTable %>
<%=Level(i,false)%>/// </remarks>
<% if(Serializable) { %>
<%=Level(i,false)%>[Serializable] 
<% } %> 
<%=Level(i,false)%><%= GetAccessModifier(Accessibility) %> class <%if(IsCollectionCode) %><%=GetCustomCollectionName%><% else %><%= GetCustomClassName %> : <%if(IsCollectionCode)%><%=GetBaseCollectionName%><% else %><%=GetBaseClassName%>
<%=Level(i++,false)%>{
<% if(!IsCollectionCode) {%>
<%=Level(i,false)%>#region Class Level Private Variables
<%=Level(i,false)%>#endregion //Class Level Private Variables
<%}%>

<%=Level(i,false)%>#region Constructors
<%=Level(i,false)%>private <%if(IsCollectionCode)%><%=GetCustomCollectionName%><% else %><%= GetCustomClassName %>() : base()
<%=Level(i++,false)%>{
<%=Level(i,false)%>//prevent direct creation
<%=Level(--i,false)%>}
<%=Level(i,false)%>#endregion //Constructors

<%=Level(i,false)%>#region Business Properties and Methods
<%=Level(i,false)%>#endregion //Business Properties and Methods
<% if(IsCollectionCode) {%>
<%=Level(i,true)%>#region Contains
<%=Level(i,false)%>#endregion //Contains
<%}%>

<%=Level(i,false)%>#region System.Object Overrides
<%=Level(i,false)%>#endregion //System.Object Overrides

<%=Level(i,false)%>#region Static Methods
<%=Level(i,false)%>#endregion //Static Methods

<%=Level(i,false)%>#region Criteria (identifies the Individual Object/ Primary Key)
<%=Level(i,false)%>#endregion //Criteria

<%=Level(i,false)%>#region Data Access
<%=Level(i,false)%>#endregion //Data Access

<%=Level(--i,false)%>}
<% if(ClassNamespace != null && ClassNamespace.Length > 0) {%>}<%}%>
