<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.uka.ipd.sdq.codegen.simucontroller.runconfig.SimulationWorkflowLauncher"
            id="de.uka.ipd.sdq.simucom.rerunSimulation.RerunSimulation"
            modes="run, debug"
            name="Rerun Simulation">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.uka.ipd.sdq.simucontroller.SimuLaunching"
            icon="icons/app_simucim.gif"
            id="de.uka.ipd.sdq.simucom.rerunSimulation.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.uka.ipd.sdq.simucom.rerunSimulation.runconfig.RerunSimulationTabGroup"
            id="de.uka.ipd.sdq.simucom.rerunSimulation.launchConfigurationTabGroup"
            type="de.uka.ipd.sdq.simucom.rerunSimulation.RerunSimulation">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="de.uka.ipd.sdq.codegen.simucontroller.simulator">
      <simulator
            id="de.uka.ipd.sdq.simucom.rerunSimulation.simulator"
            launchDelegate="de.uka.ipd.sdq.codegen.simucontroller.runconfig.SimuComWorkflowLauncher"
            name="Rerun Simulation">
      </simulator>
   </extension>


</plugin>
