<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "LqnCore.presentation.LqnCoreModelWizardID"
      name = "%_UI_LqnCoreModelWizard_label"
      class = "LqnCore.presentation.LqnCoreModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/LqnCoreModelFile.gif">
      <description>%_UI_LqnCoreModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "LqnCore.presentation.LqnCoreEditorID"
        name = "%_UI_LqnCoreEditor_label"
        icon = "icons/full/obj16/LqnCoreModelFile.gif"
        extensions = "lqncore"
        class = "LqnCore.presentation.LqnCoreEditor" 
        contributorClass="LqnCore.presentation.LqnCoreActionBarContributor" >
    </editor>
  </extension>    
</plugin>
