<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.uka.ipd.sdq.pcmbench.application"
            name="Palladio Component Model Modelling Bench">
         <property
               name="windowImages"
               value="icons/palladio-logo.gif">
         </property>
         <property
               name="appName"
               value="Palladio Component Model Modelling Bench">
         </property>
         <property
               name="aboutText"
               value="This ist the Palladio Component Model Modelling Bench.&#x0A;&#x0A;Wrtitten by the members of the chair of Software Design and Quality, IPD, University of Karlsruhe&#x0A;&#x0A;Copyright 2007, SDQ, IPD">
         </property>
         <property name="preferenceCustomization" value="plugin_customization.ini"/>
         <property
               name="startupForegroundColor"
               value="0000FF">
         </property>
         <property
               name="startupMessageRect"
               value="240,155,180,20">
         </property>
         <property
               name="startupProgressRect"
               value="240,140,180,10">
         </property>
      </product>
   </extension>
   
  
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="de.uka.ipd.sdq.pcmbench.projectview">
         <popupMenu
               allowsPlatformContributions="false"
               id="de.uka.ipd.sdq.pcmbench.projectview.menu">
            <insertionPoint
                  name="group.new"
                  separator="true"/>
            <insertionPoint
                  name="group.edit"
                  separator="true"/>
         </popupMenu>
      </viewer>
      <viewerContentBinding viewerId="de.uka.ipd.sdq.pcmbench.projectview">
         <includes>
            <contentExtension pattern="de.uka.ipd.sdq.pcmbench.navigator.propertiesContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
            <contentExtension pattern="de.uka.ipd.sdq.pcmbench.navigator.filters.*"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="de.uka.ipd.sdq.pcmbench.projectview">
         <includes>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.*"/>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="de.uka.ipd.sdq.pcmbench.navigator.DragAssistant"
            viewerId="de.uka.ipd.sdq.pcmbench.projectview">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="false"
            id="de.uka.ipd.sdq.pcmbench.navigator.filters.hideNonJavaProjects"
            name="Hide projects without the Palladio Nature">
         <filterExpression>
         	<not>
               <adapt type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.uka.ipd.sdq.pcmbench.nature"/>
               </adapt>
             </not>
         </filterExpression>
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.uka.ipd.sdq.pcmbench.navigator.PCMNavigatorContentProvider"
            icon="icons/palladio-logo.gif"
            id="de.uka.ipd.sdq.pcmbench.navigator.propertiesContent"
            labelProvider="de.uka.ipd.sdq.pcmbench.navigator.PCMNavigatorLabelProvider"
            name="Palladio Modelling Projects Content"
            priority="normal"
            providesSaveables="true">
         <enablement>
            <or>
               <instanceof value="org.eclipse.core.resources.IProject"/>
               <instanceof value="org.eclipse.emf.ecore.EObject"/>
               <instanceof value="de.uka.ipd.sdq.pcmbench.ui.provider.categoryaware.GenericCategoryItemProvider"/>
               <instanceof value="de.uka.ipd.sdq.pcmbench.navigator.LinkedRepositoriesNode"/>
            </or>
         </enablement>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.emf.ecore.EObject"/>
               <instanceof value="de.uka.ipd.sdq.pcmbench.ui.provider.categoryaware.GenericCategoryItemProvider"/>
               <instanceof value="de.uka.ipd.sdq.pcmbench.navigator.LinkedRepositoriesNode"/>
            </or>
         </possibleChildren>
         <actionProvider
               class="de.uka.ipd.sdq.pcmbench.navigator.ChildAddMenuProvider"
               id="de.uka.ipd.sdq.pcmbench.ChildAddMenuProvider"/>
      </navigatorContent>
   </extension>   
   
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="de.uka.ipd.sdq.pcmbench.application.PCMBenchApplication">
         </run>
      </application>
   </extension>
</plugin>
