<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.palladiosimulator.pcm.ui.perspectives.PalladioPerspective"
            icon="icons/palladio-icon.ico"
            id="org.palladiosimulator.pcmbench.perspectives.palladio"
            name="Palladio">
      </perspective>
   </extension>
   <extension-point id="org.palladiosimulator.pcm.ui.wizard.template" name="Palladio Model Template" schema="schema/org.palladiosimulator.pcm.ui.wizard.template.exsd"/>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.palladiosimulator.pcmbench.palladio_modeling_category"
            class="org.palladiosimulator.pcm.ui.wizard.NewPalladioProjectWizard"
            finalPerspective="org.palladiosimulator.pcmbench.perspectives.palladio"
            hasPages="true"
            icon="icons/palladio-icon.ico"
            id="org.palladiosimulator.pcm.ui.pcm.NewPCMWizard"
            name="New Palladio Project"
            project="true">
         <description>
            Create a new Palladio project and optionally select from a list of template models.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.palladiosimulator.pcm.ui.wizard.template">
      <model_template
            description="Creates a Palladio project containing a minimum example project."
            name="Minimum Example Template">
         <model_file
               target_file="default.allocation"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_example/default.allocation">
         </model_file>
         <model_file
               target_file="default.repository"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_example/default.repository">
         </model_file>
         <model_file
               target_file="default.system"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_example/default.system">
         </model_file>
         <model_file
               target_file="default.usagemodel"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_example/default.usagemodel">
         </model_file>
         <model_file
               target_file="My.resourceenvironment"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_example/My.resourceenvironment">
         </model_file>
         <model_file
               target_file="default.allocation_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_example/default.allocation_diagram">
         </model_file>
         <model_file
               target_file="default.repository_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_example/default.repository_diagram">
         </model_file>
         <model_file
               target_file="default.system_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_example/default.system_diagram">
         </model_file>
         <model_file
               target_file="default.usagemodel_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_example/default.usagemodel_diagram">
         </model_file>
         <model_file
               target_file="My.resourceenvironment_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_example/My.resourceenvironment_diagram">
         </model_file>
      </model_template>
   </extension>
   <extension
         point="org.palladiosimulator.pcm.ui.wizard.template">
      <model_template
            description="Creates a Palladio project containing a minimum example project using an event-based communication."
            name="Minimum Event Template">
         <model_file
               target_file="default.allocation"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_event_example/default.allocation">
         </model_file>
         <model_file
               target_file="default.repository"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_event_example/default.repository">
         </model_file>
         <model_file
               target_file="default.system"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_event_example/default.system">
         </model_file>
         <model_file
               target_file="default.usagemodel"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_event_example/default.usagemodel">
         </model_file>
         <model_file
               target_file="default.resourceenvironment"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_event_example/default.resourceenvironment">
         </model_file>
         <model_file
               target_file="default.allocation_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_event_example/default.allocation_diagram">
         </model_file>
         <model_file
               target_file="default.repository_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_event_example/default.repository_diagram">
         </model_file>
         <model_file
               target_file="default.system_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_event_example/default.system_diagram">
         </model_file>
         <model_file
               target_file="default.usagemodel_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_event_example/default.usagemodel_diagram">
         </model_file>
         <model_file
               target_file="default.resourceenvironment_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/minimum_event_example/default.resourceenvironment_diagram">
         </model_file>
      </model_template>
   </extension>
   <extension
         point="org.palladiosimulator.pcm.ui.wizard.template">
      <model_template
            description="Creates a Palladio project that models the component type example of the Palladio Techreport (Section &quot;Type Hierarchy&quot;)."
            name="Techreport Component Type Example">
         <model_file
               target_file="default.allocation"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/techreport_component_type_example/default.allocation">
         </model_file>
         <model_file
               target_file="default.allocation_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/techreport_component_type_example/default.allocation_diagram">
         </model_file>
         <model_file
               target_file="default.repository"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/techreport_component_type_example/default.repository">
         </model_file>
         <model_file
               target_file="default.repository_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/techreport_component_type_example/default.repository_diagram">
         </model_file>
         <model_file
               target_file="default.resourceenvironment"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/techreport_component_type_example/default.resourceenvironment">
         </model_file>
         <model_file
               target_file="default.resourceenvironment_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/techreport_component_type_example/default.resourceenvironment_diagram">
         </model_file>
         <model_file
               target_file="default.system"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/techreport_component_type_example/default.system">
         </model_file>
         <model_file
               target_file="default.system_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/techreport_component_type_example/default.system_diagram">
         </model_file>
         <model_file
               target_file="default.usagemodel"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/techreport_component_type_example/default.usagemodel">
         </model_file>
         <model_file
               target_file="default.usagemodel_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/techreport_component_type_example/default.usagemodel_diagram">
         </model_file>
      </model_template>
   </extension>
   <extension
         point="org.palladiosimulator.pcm.ui.wizard.template">
      <model_template
            description="Creates a Palladio project containing standard reusable components and interfaces (e.g. Cache, Loadbalancer, Connection Pool, Delegating Component)."
            name="PCM Standard Components and Interfaces Repository">
         <model_file
               target_file="PcmStandard.repository"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/pcm_standard_components/PcmStandard.repository">
         </model_file>
         <model_file
               target_file="PcmStandard.repository_diagram"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/pcm_standard_components/PcmStandard.repository_diagram">
         </model_file>
         <model_file
               target_file="readme.txt"
               template_uri="platform:/plugin/org.palladiosimulator.pcm.ui/templates/pcm_standard_components/readme.txt">
         </model_file>
      </model_template>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.palladiosimulator.pcm.ui.intro">
      </intro>
      <introProductBinding
            introId="org.palladiosimulator.pcm.ui.intro"
            productId="org.eclipse.platform.ide">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="org.palladiosimulator.pcm.ui.introConfigId"
            introId="org.palladiosimulator.pcm.ui.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         id="PalladioProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Palladio Bench">
         <property
               name="windowImages"
               value="icons/16x16.png,icons/32x32.png,icons/48x48.png,icons/64x64.png,icons/128x128.png,icons/256x256.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="250,290,245,10">
         </property>
         <property
               name="startupMessageRect"
               value="232,302,255,20">
         </property>
         <property
               name="appName"
               value="Palladio Bench">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property name="aboutImage" value="about.png"/>
         <property name="featureImage" value="icons/32x32.png"/>
	     <property
            name="aboutText"
            value="This is the Palladio Bench product build, which is preconfigured with the Palladio Core Features, i.e., the Palladio Component Model and its most common analyzers.&#x0A;&#x0A;Version: Palladio Bench 4.0&#x0A;&#x0A;Palladio Bench, Palladio Component Model&#x0A;Copyright 2005-2015&#x0A;&#x0A;Karlsruhe Institute of Technology (KIT), Software Design and Quality, Karlsruhe, Germany&#x0A;Chemnitz University of Technology, Software Engineering Chair, Chemnitz, Germany&#x0A;Paderborn University, Heinz Nixdorf Institute, Software Engineering, Paderborn, Germany&#x0A;FZI Research Center for Information Technology, Karlsruhe, Germany&#x0A;&#x0A;http://www.palladio-simulator.com"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.palladiosimulator.pcmbench.perspectives.palladio">
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenToolBarItem>
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.mylyn.tasks.ui.command.openTask">
         </hiddenToolBarItem>
         <hiddenMenuItem
               id="project">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>


</plugin>
