<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment></comment>
<entry key="Filename_Allocation">D:\Diss\svn\code\PalladioCM.DerivedContext\trunk\de.uka.ipd.sdq.dsolver\Examples\DSolverExample1.allocation</entry>
<entry key="Filename_Assembly">D:\Diss\svn\code\PalladioCM.DerivedContext\trunk\de.uka.ipd.sdq.dsolver\Examples\DSolverExample1.assembly</entry>
<entry key="Filename_Repository">D:\Diss\svn\code\PalladioCM.DerivedContext\trunk\de.uka.ipd.sdq.dsolver\Examples\DSolverExample1.repository</entry>
<entry key="Filename_ResourceEnvironment">D:\Diss\svn\code\PalladioCM.DerivedContext\trunk\de.uka.ipd.sdq.dsolver\Examples\DSolverExample1.resourceenvironment</entry>
<entry key="Filename_ResourceType">D:\Diss\svn\code\PalladioCM.DerivedContext\trunk\de.uka.ipd.sdq.dsolver\Examples\DSolverExample1.resourcetype</entry>
<entry key="Filename_System">D:\Diss\svn\code\PalladioCM.DerivedContext\trunk\de.uka.ipd.sdq.dsolver\Examples\DSolverExample1.system</entry>
<entry key="Filename_UsageModel">D:\Diss\svn\code\PalladioCM.DerivedContext\trunk\de.uka.ipd.sdq.dsolver\Examples\DSolverExample1.usagemodel</entry>
<entry key="Storage_Path">D:\Diss\svn\code\PalladioCM.DerivedContext\trunk\de.uka.ipd.sdq.dsolver\Examples</entry>
</properties>
