<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.markov.presentation.MarkovModelWizardID"
            name="%_UI_MarkovModelWizard_label"
            class="de.uka.ipd.sdq.markov.presentation.MarkovModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MarkovModelFile.gif">
         <description>%_UI_MarkovModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.markov.presentation.MarkovEditorID"
            name="%_UI_MarkovEditor_label"
            icon="icons/full/obj16/MarkovModelFile.gif"
            extensions="markov"
            class="de.uka.ipd.sdq.markov.presentation.MarkovEditor"
            contributorClass="de.uka.ipd.sdq.markov.presentation.MarkovActionBarContributor">
      </editor>
   </extension>

</plugin>
