<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.completionfeaturemodel.presentation.completionfeaturemodelModelWizardID"
            name="%_UI_completionfeaturemodelModelWizard_label"
            class="edu.kit.ipd.sdq.completionfeaturemodel.presentation.completionfeaturemodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/completionfeaturemodelModelFile.gif">
         <description>%_UI_completionfeaturemodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="edu.kit.ipd.sdq.completionfeaturemodel.presentation.completionfeaturemodelEditorID"
            name="%_UI_completionfeaturemodelEditor_label"
            icon="icons/full/obj16/completionfeaturemodelModelFile.gif"
            extensions="completionfeaturemodel"
            class="edu.kit.ipd.sdq.completionfeaturemodel.presentation.completionfeaturemodelEditor"
            contributorClass="edu.kit.ipd.sdq.completionfeaturemodel.presentation.completionfeaturemodelActionBarContributor">
      </editor>
   </extension>

</plugin>
