<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.palladiosimulator.pcm.ui.perspectives.PalladioPerspective"
            icon="icons/palladio-icon.ico"
            id="org.palladiosimulator.pcmbench.perspectives.palladio"
            name="Palladio">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.palladiosimulator.pcm.ui.intro">
      </intro>
      <introProductBinding
            introId="org.palladiosimulator.pcm.ui.intro"
            productId="org.eclipse.platform.ide">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="org.palladiosimulator.pcm.ui.introConfigId"
            introId="org.palladiosimulator.pcm.ui.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         id="PalladioProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Palladio Bench">
         <property
               name="windowImages"
               value="icons/16x16.png,icons/32x32.png,icons/48x48.png,icons/64x64.png,icons/128x128.png,icons/256x256.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="250,290,245,10">
         </property>
         <property
               name="startupMessageRect"
               value="232,302,255,20">
         </property>
         <property
               name="appName"
               value="Palladio Bench">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property name="aboutImage" value="about.png"/>
         <property name="featureImage" value="icons/32x32.png"/>
	     <property
            name="aboutText"
            value="This is the Palladio Bench product build, which is preconfigured with the Palladio Core Features, i.e., the Palladio Component Model and its most common analyzers.&#x0A;&#x0A;Version: Palladio Bench 4.2&#x0A;&#x0A;Palladio Bench, Palladio Component Model&#x0A;Copyright 2005-2019&#x0A;&#x0A;Karlsruhe Institute of Technology (KIT), Software Design and Quality, Karlsruhe, Germany&#x0A;Chemnitz University of Technology, Software Engineering Chair, Chemnitz, Germany&#x0A;Paderborn University, Heinz Nixdorf Institute, Software Engineering, Paderborn, Germany&#x0A;FZI Research Center for Information Technology, Karlsruhe, Germany&#x0A;&#x0A;http://www.palladio-simulator.com"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.palladiosimulator.pcmbench.perspectives.palladio">
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenToolBarItem>
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.mylyn.tasks.ui.command.openTask">
         </hiddenToolBarItem>
         <hiddenMenuItem
               id="project">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>


</plugin>
