<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.dsexplore.newcandidates">
      <newCandidates
            delegate="de.uka.ipd.sdq.dsexplore.newcandidates.configurecomponents.ConfigureComponents"
            qualityAttribute="de.uka.ipd.sdq.dsexplore.newcandidates.strengthenResource.newCandidates1">
      </newCandidates>
   </extension>

</plugin>
