<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.dsexplore.analysis">
      <analysis
            delegate="de.uka.ipd.sdq.dsexplore.analysis.simucom.SimuComAnalysis"
            qualityAttribute="de.uka.ipd.sdq.dsexplore.performance">
      </analysis>
   </extension>

</plugin>
