<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.measurements.presentation.MeasurementsModelWizardID"
            name="%_UI_MeasurementsModelWizard_label"
            class="de.uka.ipd.sdq.measurements.presentation.MeasurementsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MeasurementsModelFile.gif">
         <description>%_UI_MeasurementsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.measurements.presentation.MeasurementsEditorID"
            name="%_UI_MeasurementsEditor_label"
            icon="icons/full/obj16/MeasurementsModelFile.gif"
            extensions="measurements"
            class="de.uka.ipd.sdq.measurements.presentation.MeasurementsEditor"
            contributorClass="de.uka.ipd.sdq.measurements.presentation.MeasurementsActionBarContributor">
      </editor>
   </extension>


   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category">
      </category>
      <wizard
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            class="de.uka.ipd.sdq.measurements.presentation.MeasurementsModelWizard"
            icon="icons/full/obj16/MeasurementsModelFile.gif"
            id="de.uka.ipd.sdq.measurements.presentation.TasksetModelWizardID"
            name="%_UI_TaskSetModelWizard_label">
         <description>
            %_UI_TaskSetModelWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uka.ipd.sdq.measurements.presentation.MeasurementsEditor"
            contributorClass="de.uka.ipd.sdq.measurements.presentation.MeasurementsActionBarContributor"
            default="false"
            extensions="taskset"
            icon="icons/full/obj16/MeasurementsModelFile.gif"
            id="de.uka.ipd.sdq.measurements.presentation.TaskSetEditorID"
            name="%_UI_TaskSetEditor_label">
      </editor>
   </extension>

</plugin>
