<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.simulation.abstractsimengine.engine">
      <engine
            class="de.uka.ipd.sdq.simulation.abstractsimengine.ssj.SSJSimEngineFactory"
            id="de.uka.ipd.sdq.simulation.abstractsimengine.ssj"
            name="SSJ Simulation Engine">
      </engine>
   </extension>

</plugin>
