<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.ByBench.presentation.ByBenchModelWizardID"
            name="%_UI_ByBenchModelWizard_label"
            class="de.uka.ipd.sdq.ByBench.presentation.ByBenchModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ByBenchModelFile.gif">
         <description>%_UI_ByBenchModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.ByBench.presentation.ByBenchEditorID"
            name="%_UI_ByBenchEditor_label"
            icon="icons/full/obj16/ByBenchModelFile.gif"
            extensions="bybench"
            class="de.uka.ipd.sdq.ByBench.presentation.ByBenchEditor"
            contributorClass="de.uka.ipd.sdq.ByBench.presentation.ByBenchActionBarContributor">
      </editor>
   </extension>

</plugin>
