<%-- 
CodeSmith DBDocumenter Templates
Author:  Jason Alexander (jason@ngallery.org)
Website: http://www.ngallery.org/dbdocumenter/
%>
<%@ CodeTemplate Language="C#" TargetLanguage="HTML" Description="Template description here." %>
<%@ Property Name="SourceView" Type="SchemaExplorer.ViewSchema" Category="Context" Description="View that the documentation should be based on." %>
<%@ Property Name="ViewIndex" Type="System.Int32" Category="Context" Description="The index of the view in the overall collection." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<script runat="template">


public void PrintColumnDocumentation(ViewColumnSchema column)
{
	Response.WriteLine("        <tr>");
	
	Response.WriteLine("          <td>");
	Response.WriteLine("            <span class=\"bodyText\">" + column.Name + "</span>");
	Response.WriteLine("          </td>");
	Response.WriteLine("          <td>");
	Response.WriteLine("            <span class=\"bodyText\">" + column.NativeType + "</span>");
	Response.WriteLine("          </td>");	
	Response.WriteLine("          <td>");
	Response.WriteLine("            <span class=\"bodyText\">" + column.Size);
	
	if (column.NativeType == "numeric")
	{
		if (column.Precision != 0)
		{
			Response.WriteLine("            (" + column.Precision + ", " + column.Scale + ")");
		}
	}
	
	Response.WriteLine("          </span></td>");	
	Response.WriteLine("          <td align=\"center\">");
	
	// Nullable?
	if (column.AllowDBNull)
	{
		Response.WriteLine("            <img src=\"images/check_icon.gif\" border=\"0\">");
	}
	else
	{
		Response.WriteLine("            <img src=\"images/unchecked_icon.gif\" border=\"0\">");
	}

	
	Response.WriteLine("          </td>");	
	Response.WriteLine("        </tr>");
	
	if (column.Description != "")
	{
		Response.WriteLine("        <tr>");
		Response.WriteLine("          <td colspan=\"2\">&nbsp;</td>");
		Response.WriteLine("          <td class=\"descriptionBlock\" colspan=\"5\">");
		Response.WriteLine("            " + column.Description);
		Response.WriteLine("          </td>");
		Response.WriteLine("        </tr>");
	}

}


</script>
<html>
<head>
	<title>View Details</title>
	<link href="dbdocs.css" type="text/css" rel="stylesheet" />	
</head>
<body>

<center>
<table border="0" width="80%">
	<tr>
		<td class="sprocheaderbar" width="85%">
			<img src="images/views_icon.gif" border="0">&nbsp;&nbsp;<%= SourceView.FullName %>&nbsp;&nbsp;<i>(Created <%= SourceView.DateCreated %>)</i>
		</td>
		<td class="sprocheaderbar" align="center">
			[<a href="view_<%= ViewIndex %>.html">View</a>]
		</td>
	</tr>
<%
	if (SourceView.Description != "")
	{
%>
	<tr>
		<td class="descriptionBlock" colspan="2">
			<%= SourceView.Description %>
		</td>
	</tr>
<%
	}
%>
	<tr>
		<td align="center" colspan="2">
			<table width="100%">
				<tr>
					<td class="columnheaderbar">
						Name
					</td>
					<td class="columnheaderbar">
						Data Type
					</td>
					<td class="columnheaderbar">
						Size(Precision,Scale)
					</td>
					<td class="columnheaderbar">
						Nulls
					</td>
				</tr>
<%		
		for (int j = 0; j < SourceView.Columns.Count; j++)
		{
			this.PrintColumnDocumentation(SourceView.Columns[j]);
		}
%>		
			</table>
		</td>
	</tr>	
</table>
</center>	


</body>
</html>
