<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="jfreechart" name="JFreeChart Visualization" schema="schema/de.uka.ipd.sdq.edp2.visualization.jfreechart.exsd"/>
   <extension-point id="adapter" name="Adapter" schema="schema/de.uka.ipd.sdq.edp2.adapter.exsd"/>
   <extension-point id="filter" name="Filter" schema="schema/de.uka.ipd.sdq.edp2.filter.exsd"/>
   <extension-point id="defaultSequences" name="Default Sequences" schema="schema/defaultSequence.exsd"/>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="de.uka.ipd.sdq.edp2.visualization.editors.ScatterPlotInputFactory"
            id="de.uka.ipd.sdq.edp2.visualization.editors.ScatterPlotInputFactory">
      </factory>
      <factory
            class="de.uka.ipd.sdq.edp2.visualization.editors.PieChartEditorInputFactory"
            id="de.uka.ipd.sdq.edp2.visualization.editors.PieChartInputFactory">
      </factory>
      <factory
            class="de.uka.ipd.sdq.edp2.visualization.editors.HistogramEditorInputFactory"
            id="de.uka.ipd.sdq.edp2.visualization.editors.HistogramEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.uka.ipd.sdq.edp2.visualization.editors.AbstractEditor"
            labelProvider="de.uka.ipd.sdq.edp2.visualization.properties.EditorLabelProvider"
            typeMapper="de.uka.ipd.sdq.edp2.visualization.properties.PropertyTypeMapper">
         <propertyCategory category="sample"/>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.uka.ipd.sdq.edp2.visualization.editors.AbstractEditor">
         <propertyTab
               category="sample"
               id="de.uka.ipd.sdq.edp2.visualization.propertyTabFilter"
               label="Filter &amp; Adapter">
         </propertyTab>
         <propertyTab
               afterTab="de.uka.ipd.sdq.edp2.visualization.propertyTabAdapter"
               category="sample"
               id="de.uka.ipd.sdq.edp2.visualization.propertyTabDisplay"
               label="Display">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.uka.ipd.sdq.edp2.visualization.editors.AbstractEditor">
         <propertySection
               class="de.uka.ipd.sdq.edp2.visualization.properties.sections.TransformationsPropertySection"
               
               id="de.uka.ipd.sdq.edp2.visualization.propertySectionFilter"
               tab="de.uka.ipd.sdq.edp2.visualization.propertyTabFilter">
            <input
                  type="de.uka.ipd.sdq.edp2.visualization.editors.JFreeChartEditorInput">
            </input>
         </propertySection>
          <propertySection
                class="de.uka.ipd.sdq.edp2.visualization.properties.sections.DisplayPropertySection"
                id="de.uka.ipd.sdq.edp2.visualization.propertySectionDisplay"
                tab="de.uka.ipd.sdq.edp2.visualization.propertyTabDisplay">
             <input
                   type="de.uka.ipd.sdq.edp2.visualization.editors.JFreeChartEditorInput">
             </input>
         </propertySection>
         
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uka.ipd.sdq.edp2.visualization.editors.JFreeChartEditor"
            default="false"
            id="de.uka.ipd.sdq.edp2.visualization.editors.JFreeChartEditor"
            name="JFreeChartEditor">
      </editor>
   </extension>
   <extension
         point="de.uka.ipd.sdq.edp2.visualization.jfreechart">
      <jfreechart
            factoryClass="de.uka.ipd.sdq.edp2.visualization.editors.HistogramEditorInputFactory"
            id="de.uka.ipd.sdq.edp2.visualization.Histogram"
            inputClass="de.uka.ipd.sdq.edp2.visualization.editors.HistogramEditorInput">
      </jfreechart>
      <jfreechart
            factoryClass="de.uka.ipd.sdq.edp2.visualization.editors.ScatterPlotInputFactory"
            id="de.uka.ipd.sdq.edp2.visualization.Scatterplot"
            inputClass="de.uka.ipd.sdq.edp2.visualization.editors.ScatterPlotInput">
      </jfreechart>
   </extension>
   <extension
         point="de.uka.ipd.sdq.edp2.visualization.defaultSequences">
      <defaultSequence
            description="Histogram for 2-dimensional Data"
            id="responseTime"
            name="Response Time">
         <adapter
               adapterID="de.uka.ipd.sdq.edp2.transformation.HistogramFrequencyAdapter">
            <property
                  key="dataSeriesIndex"
                  name="index of data series"
                  value="1">
            </property>
         </adapter>
         <visualization
               visualizationID="de.uka.ipd.sdq.edp2.visualization.Histogram">
            <property
                  key="numberOfBins"
                  name="number of bins displayed"
                  value="10">
            </property>
         </visualization>
         <filter
               filterID="de.uka.ipd.sdq.edp2.transformation.WarmupFilter">
            <property
                  key="droppedValuesRelative"
                  name="dropped values in percentage"
                  value="15">
            </property>
         </filter>
         <inputMetric
               UUID="_MenvIiUREd6gmLudJva2Dw"
               description="2-dimensional: Response Time + Simulation Time"
               name="Simulation: Response Time">
         </inputMetric>
      </defaultSequence>
   </extension>

</plugin>
